[2017-05-12 08:47] corradocavalli commented on #237
Problem fixed, please test it with build 84 and, if ok, close it. :-)

[2017-05-19 08:59] mtg1986 opened #238 "Splash Screen on Surface Hub"
There is no possibility to disable the splash screen on the Surface Hub with v. 1.3.83

The issue is that:
1.I want to load a project using a NFC tag
2.I did not launched CollaBoard yet
3.I use the NFC tag to open a specific project
4.CollaBoard starts but the project is not loaded as just the splash screen appears.

The only way to load a project with NFC at the moment is, when CollaBoard is alre

[2017-05-19 09:11] mtg1986 opened #239 "PDF Brochure in CollaBoard"
When I load the attached PDF into CollaBoard there is a sizing issue with the first page. Please have a look at the attached screenshot where you see how the pdf looks in Edge and how it looks in CollaBoard.
For me it is only the first page that is not nice. The rest are good.
Tested on Version 1.3.83
19.05.2017

![image](https://cloud.githubusercontent.com/assets/19570958/26240771/7f806912-3c82-1

[2017-05-19 09:33] gsantopaolo commented on #239
Hello and thanks for your feedback.
We are not going to develop any more for pdf. What we are going to do for the future is to find a good component that we can implement.
Expect a fix for this only when we will found the right pdf component.

thank you
-g

[2017-05-22 09:53] corradocavalli commented on #239
Hi Michael, just to give you more info about the issue: The PDF has a mixed layout, first page is portrait while others are landscape. At the moment we don't have an optimal solution for mixed layout PDF, we hope this scenario will be covered when we'll move to a commercial PDF component.

[2017-05-22 12:43] corradocavalli commented on #238
It should be fixed in version 84, please test it when available.

[2017-06-10 14:01] taoyouh opened #240 "Cannot connect to Internet"
When I launch the app, it stays within the splash screen for a long time, then it tells me "Internet connection missing, all functionalities are temporarily unavailable."

Time: 2016-06-10 22:00 GMT+8
OS version: 15063.332
Device: Surface Pro 3
City: Shanghai, China

[2017-06-10 15:05] corradocavalli commented on #240
Can you reach Google.com<http://Google.com> from that machine? The fact that machine is connected doesn't guarantee that it can effectively reach our servers.

Cheers

On 10 Jun 2017, at 16:01, Huang, Zhaoquan <notifications@github.com<mailto:notifications@github.com>> wrote:

When I launch the app, it stays within the splash screen for a long time, then it tells me "Internet connection missing, a

[2017-06-11 04:02] taoyouh commented on #240
google.com is not available in mainland China.

[2017-06-11 06:42] corradocavalli commented on #240
That's the problem, we ping Google.com<http://Google.com> to ensure connection is effectively functional. What reliable site like Google.com<http://Google.com> is reachable from mainland China?

On 11 Jun 2017, at 06:02, Huang, Zhaoquan <notifications@github.com<mailto:notifications@github.com>> wrote:

google.com<http://google.com> is not available in mainland China.

—
You are receiving this bec

[2017-06-11 07:41] taoyouh commented on #240
Baidu.com is one of the most popular search engines in mainland China. Bing.com is also reliable and reachable.

[2017-06-11 09:44] corradocavalli commented on #240
What about microsoft.com<http://microsoft.com>?

On 11 Jun 2017, at 09:41, Huang, Zhaoquan <notifications@github.com<mailto:notifications@github.com>> wrote:

Baidu.com<http://Baidu.com> is one of the most popular search engines in mainland China. Bing.com<http://Bing.com> is also reliable and reachable.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitH

[2017-06-11 09:53] taoyouh commented on #240
Microsoft.com is very stable as far as I know.

[2017-06-11 10:13] corradocavalli commented on #240
Thanks, we will move to Microsoft.com<http://Microsoft.com> with the next release. Sorry for the inconvenience.

On 11 Jun 2017, at 11:53, Huang, Zhaoquan <notifications@github.com<mailto:notifications@github.com>> wrote:

Microsoft.com<http://Microsoft.com> is very stable as far as I know.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://git

[2017-06-12 08:48] corradocavalli commented on #240
Move initial connectivity check from Google.com to Microsoft.com

[2017-06-12 08:48] #240 closed

[2017-06-13 06:34] teguria opened #241 "Info Tile does not move or moves slower"
.86
Info tile does not move correctly. Plus, I cannot move it with the mouse
![info](https://user-images.githubusercontent.com/19929395/27068997-0c3d699c-5013-11e7-81f3-d689e563815c.png)

[2017-06-13 06:41] corradocavalli commented on #241
Can't reproduce it, please show it to me later.

[2017-06-13 06:55] teguria commented on #241
One more screenshot related to non-ability to move the info tile
![untitled2](https://user-images.githubusercontent.com/19929395/27069638-ff009454-5015-11e7-8a2d-e5d8ee4b521d.png)

[2017-06-13 07:06] corradocavalli commented on #241
send me via s4b the project info/key please...

[2017-06-13 09:29] teguria opened #242 "History search"
It would be nice to have the history (list) of all the searches I did on the search box

[2017-06-13 12:33] mtg1986 opened #243 "Change Project Owernship - Information for Users"
When we change the project ownership to a person, that is not looged into the project, this person does not get an information that he is now the owner of the project.

If the person is logged into the project, then there is a message from CollaBoard itself, that he is now the owner of the project.

[2017-06-14 08:51] mtg1986 opened #244 "Tile Rotation - Application or Project Level?"
We encountered the following issue:

1.Create a new project and log-in with multiple devices to the project.
2.On one device tiles are rotated
3.On the other device in the setting tile rotation is disabled. Now the tiles move back on this device into horizontal order. On the other device they are still rotated. So there is a different behaviour on two devices.

Suggestion was to have tile rotation

[2017-06-14 09:47] teguria opened #245 "Change ownership email"
When you want to change the ownership by writing an email address, the receive should receive an email.

[2017-06-14 13:40] mtg1986 opened #246 "Delete Project - Deleted project still in the "Load project list""
1.Create a project with User 1
2.Login to the project with User 2
3.User 1 deletes project
4.User 2 clicks on load project and go to "Project you joined" there he sees the project. User 1 sees the project not under "Project you created"

Tested with project: 2112, 2113

Version: 1.3.92
Time: 14.062017 15:40
Devices: Surface Pro 4 + DELL Laptop

[2017-06-15 12:04] gsantopaolo commented on #246
@mtg1986 @corradocavalli  this was fixed on the, please try it out and close if fixed

thank you

[2017-06-15 12:13] mtg1986 commented on #246
Tested and it works-->Closed

[2017-06-15 12:13] #246 closed

[2017-06-16 07:33] gsantopaolo commented on #245
Yes, this is a nice feature I would like to add...

[2017-06-16 07:35] gsantopaolo opened #247 "Sticky note to use too much memory"
It seems that when a sticky note is loaded (without stroke or text) it is actually using and enormous amount of memory.
Please investigate, I would like to know witch component is using that much memory.

[2017-06-16 07:37] gsantopaolo commented on #244
hello Michael,
   this is a nice suggestion and I also agree.
Unfortunately this is more a feature request than a bug fix so please keep it for the list of future features and we'll care about it.

thx

[2017-06-16 07:38] gsantopaolo commented on #243
@corradocavalli  is this solved now?

[2017-06-16 07:43] gsantopaolo commented on #243
@mtg1986  this is a nice feature request. Please add it to the list of feature to be added:
To add a pop up message when you become owner of a project.

[2017-06-16 07:44] gsantopaolo commented on #241
@teguria  did you sent?

[2017-06-16 07:50] gsantopaolo commented on #241
@corradocavalli  my feeling is that this is connected with #247 because of the single tile memory consumption...

[2017-06-16 08:04] gsantopaolo commented on #229
@mtg1986 @corradocavalli  were you able to reproduce this?

[2017-06-16 08:05] gsantopaolo commented on #213
@mtg1986  @corradocavalli  any update on this?

[2017-06-16 08:12] gsantopaolo commented on #185
@mtg1986  any update on this?

[2017-06-16 08:14] #219 closed

[2017-06-16 08:14] gsantopaolo commented on #238
@mtg1986  can you update on this please?

[2017-06-16 08:15] gsantopaolo commented on #237
@tamarawasser  can you update on this please?

[2017-06-16 08:16] teguria commented on #223
Works on devices. I assume it works on the Hub as well @mtg1986 ?

[2017-06-16 08:16] gsantopaolo commented on #192
going to close as it is too old...

[2017-06-16 08:16] #192 closed

[2017-06-16 08:20] teguria opened #248 "Search Box title should be unified"
When you search for videos, the search result box shows "YouTube videos for....".
When you do the same with pictures, it shows the numbers of pictures found.
Should we have a unified standard for both like: "Videos found for...." and "Images found for...."

[2017-06-16 10:18] corradocavalli commented on #248
Available on build 93

[2017-06-16 10:18] #248 closed

[2017-06-19 05:44] corradocavalli commented on #243
Michael request is to send an email to the user informing it that it has been designated as the new project owner.

[2017-06-19 05:45] corradocavalli commented on #247
This is indeed a different case, looks like that nesting a FlipView inside a tile generates some touch conflicts with manipulation stuff making the tile not properly reacting to touch movements.

[2017-06-19 06:11] mtg1986 commented on #238
Tested on .94 and it goes now directly to the project.

[2017-06-19 06:11] #238 closed

[2017-06-19 06:29] corradocavalli commented on #229
Yes, fixed.

[2017-06-19 06:29] #229 closed

[2017-06-19 08:02] mtg1986 commented on #185
@gsantopaolo : Still the same behavior. The grid library titel from the template project is not shown when I create a new project using the template.

[2017-06-19 08:06] mtg1986 commented on #213
I tested:

Ink on Sticky Note
Copied Ink to Map Image (Ink on the map Image)
Copied Ink ton canvas (Ink on the canvas)

-->When Inking after copying, then the Ink is now the same size as of the copied ink. I think we can close that.

[2017-06-19 08:06] #213 closed

[2017-06-19 08:09] mtg1986 opened #249 "Connect and Disconnetc Surface Pro from Charger"
I am in a CollaBoard project.

I disconnect my Surface Pro 4 charger and I reconnect. CollBoard shows shortly that the project is synchronized.

Each time I do that a new user is added to the user overview list. I am logged in with two devices to this project. I disconnected 3 times and 3 new users are added.

Version 1.3.94
19.06.2917 10:11

![image](https://user-images.githubusercontent.com/1957

[2017-06-19 08:35] mtg1986 opened #250 "List of Projects (when loading a project) not always up to date"
When I create a new project or when I delete a project, sometimes these changes are not immediately up to date in the project list.

Example:
-Create a new project
-Close the project
-Go to load project and then to the list "Projcets you created"
-Sometimes the created project is show sometimes not.

Sometimes pressing on load project again solves it.
The problem is that it seems to happen randoml

[2017-06-19 12:49] gsantopaolo commented on #249
@mtg1986  i do need project key

[2017-06-20 06:57] tamarawasser commented on #237
I have version 1.3.94 now and it's working.

[2017-06-21 13:49] tamarawasser commented on #250
I had the same Problem today.
Version 1.3.94
HP Spectre 21st of June 2017

Create a new Project: Project Code: 7792 / Project Key: qfu5k
Close the Project
Wanted to reopen it and it's not in the Project list. But when I type Code and key into the field, the Project opens.

[2017-06-22 05:07] mtg1986 commented on #249
Was not able to reproduce anymore. Therefore Issue closed.

[2017-06-22 05:07] #249 closed

[2017-06-22 14:43] corradocavalli commented on #250
Is hould be fixed in build 95 out today, please verify and close if ok.

[2017-06-27 07:44] teguria opened #251 "Unable to load templates"
1.3.95
26/06/2017 around 15.20 (during a demo)
27/06/2017 09.44
New Project - Available Project Templates
I don't see all the templates listed here. The circle goes around with its dots but it doesn't happen anything. I waited 2 minutes as I thought maybe it's a connection issue but all the other things work.

[2017-06-27 08:00] corradocavalli commented on #251
Looks like an issue on some machines (mine is ok) I've re-added a tweak removed on build 95.
Test it with 96 and close if ok.

On 27 Jun 2017, at 09:44, alead <notifications@github.com<mailto:notifications@github.com>> wrote:

1.3.95
26/06/2017 around 15.5 (during a demo)
27/06/2017 09.44
New Project - Available Project Templates
I don't see all the templates listed here. The circle goes around wi

[2017-06-28 07:40] tamarawasser commented on #250
It's working now. I can't Close the issue, because I didn't creat it.

[2017-06-28 08:58] #250 closed

[2017-07-03 09:41] mtg1986 opened #252 "Tile Movement stops when releaseing finger"
Once it was possible to "throw" a tile with a touch gesture from on angel of the canvas to another. Now movement of the tile stops, as soon as I release the finger. If this is not on purpose, it would be nice to have to old behaviour back.

1.3.96.0
Surface Pro
03.07.2017

Thx
Michael

[2017-07-03 10:42] corradocavalli commented on #252
Thanks, sounds like a regression to fix, do you remember if it was ok on previous build 95?

On 3 Jul 2017, at 11:41, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

Once it was possible to "throw" a tile with a touch gesture from on angel of the canvas to another. Now movement of the tile stops, as soon as I release the finger. If this is not on purpose, it would

[2017-07-03 10:50] mtg1986 commented on #252
Hi Corrado,
very good question.... I cannot tell you when I faced this issue the first time and in which version it was ok and when it changed. Sorry.

[2017-07-03 11:11] mtg1986 opened #253 "Authentification Problem with ADFS"
A customer is using ADFS Server to authenticate his users for O365. Now he wants to use these accounts to log-in to CollaBoard. When he is doing that he receives the message:
"At the moment it is not possible to establish a connection with this service. Please check your network connections or try again later" (Translated from German)

Could this be something related to ADFS Server settings? I ass

[2017-07-03 11:16] mtg1986 commented on #253
May be this could be a solution:
The support guys reached out and fixed this on the first email.  My ADFS server didn't have forms authentication enabled on the Intranet.  Steps to enable forms authentication are below.

Open ADFS Console.
Click on Authentication Policies.
Click on Edit Global Primary Authentication.
In the Intranet box tick Forms Auhtentication.
Click OK.
Forms Authentication sho

[2017-07-03 11:32] corradocavalli commented on #253
Ok, let us know if it works now and close if solved.

On 3 Jul 2017, at 13:16, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

May be this could be a solution:
The support guys reached out and fixed this on the first email.  My ADFS server didn't have forms authentication enabled on the Intranet.  Steps to enable forms authentication are below.

Open ADFS Console.

[2017-07-03 11:34] corradocavalli commented on #253
Also make a note of this issue for further reference, having a sort of publuc knowledge base would be nice.

On 3 Jul 2017, at 13:16, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

May be this could be a solution:
The support guys reached out and fixed this on the first email.  My ADFS server didn't have forms authentication enabled on the Intranet.  Steps to ena

[2017-07-04 15:40] teguria opened #254 "Rename Machine ID"
Hi,
when it comes to talk to customers Machine ID might seem like a security leak to disclose (which is not). I'd like to request to rename it to "Unique ID"

[2017-07-04 16:40] corradocavalli commented on #254
The fact that is unique is meaningless for the user, what about keeping simple and just call it: Install Id or Install Code?

On 4 Jul 2017, at 17:42, alead <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,
when it comes to talk to customers Machine ID might seem like a security leak to disclose (which is not). I'd like to request to rename it to "Unique ID"

—
You are receiv

[2017-07-04 17:08] teguria commented on #254
Unique to me means that that is the ID associated to the specific app I installed. If you call it Install ID or Install Code might be confusing for the customer. Unique ID means that it's the ID specifically for that installation on that specific device (IHMO).

[2017-07-05 05:17] mtg1986 opened #255 "3D View in integrated BING Maps"
In previous versions we had the possibility to do a "Map Search", switch to the landscape mode and use a "two-finger-gesture" to get into the 3D view of BING Maps.
This does not work anymore. Nothing urgent or critical, but it was nice to show how we run external apps in CollaBoard.
Version. 1.3.96.0
05.07.2017
Surface Hub / Surface Pro

[2017-07-05 07:14] corradocavalli commented on #255
We didn't change anything in that area, sounds like a behavior change in Creators Update.
We'll investigate, thanks for the feedback.

On 5 Jul 2017, at 07:17, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

In previous versions we had the possibility to do a "Map Search", switch to the landscape mode and use a "two-finger-gesture" to get into the 3D view of BING

[2017-07-10 09:42] corradocavalli commented on #252
Fixed in build 97, please try it and close if ok.

[2017-07-10 10:02] corradocavalli commented on #255
Did several tests but it works for me, can you try again and if problem still persists tell us the exact sequence to reproduce it?
Mine is:
1-Searched Zurich
2-Changed map type and zoomed in
3-Used two fingers to see 3D view of buildings.

[2017-07-17 14:44] mtg1986 commented on #252
Hi Corrado,
I downloaded the new version. Tile movement works again as expected. Thanks for that. I encountered another problem (but may be it is not a problem), that the canvas is limited. No zoom in and out is possible anymore. Let me know if I should add this as a new issue or not.

Tested: 1.3.97.0
Surface Pro 4
17.07.2017

[2017-07-17 14:48] mtg1986 commented on #255
Could not reproduce anymore. Closing.

[2017-07-17 14:48] #255 closed

[2017-07-17 17:36] corradocavalli commented on #252
You're right, that's a regression I'll fix it asap, you can use Ctrl+Mousewheel in the meantime, Sorry about that.

[2017-07-17 17:51] corradocavalli commented on #252
Can't reproduce it again on my machine, can you try again and if happen again send me via mail key/code of a project failing? Thanks.

[2017-07-17 17:58] corradocavalli commented on #252
Fixed in build 98, please test it again, thanks.

[2017-07-18 07:06] mtg1986 commented on #252
Tested on Surface Pro 4. It's working, closing.

[2017-07-18 07:06] #252 closed

[2017-07-20 08:25] mtg1986 commented on #253
I do not have any news here. The customer did not had time yet to try the proposed solutions. Keep you updated on this.

[2017-07-21 13:21] mtg1986 opened #256 "Radial Menu - Shadow when tapping"
In the add tiles radial menu. When I add a new sticky note then the part of the radial menu where I can add a sticky note get's darker. When I click like twenty times on it, 20 sticky notes are generated (this is really fast), but I do not get the visual feedback in the radial menu.
May be only a tiny detail, but we are now very fast in creating new sticky notes :)

Tested: 1.3.98.0
21.07.2017
Sur

[2017-07-21 13:42] mtg1986 opened #257 "Tiels at different location - Not congruent with Minimap"
Created a new project, added sticky notes images etc. Working on 3 devices simultanously.

1.Panda on Surface Pro 4.
2.Reload Project
3.Tiles are in different location compared to the other two devices where no Panda appeared.
4.Minimap shows view how it should be (also on the deivce where it is differnet). So on the surface pro 4 the Minimap is not congruent anymore with the sticky notes. (See im

[2017-07-21 13:46] mtg1986 commented on #257
Similar behaviour in this project:
On the Hub we have 17 tiles, on the person devices only 6 tiles.

Project Code: 2223
Project Key: xz0nc
Project description: Testing
ibv-collaboard:open?code=2223&key=xz0nc

[2017-07-21 13:53] corradocavalli commented on #257
Michi,
When you have a Panda, the project is out of sync so there's nothing more to do then reload it, if the same problem happens after reloading I can try to investigate but try to understand that it is virtually impossible to  fix "transient" conditions. So, please, for *every* issue, please try to provide a repro case, if possible, so that we can try to reproduce it and fix it definitively, ot

[2017-07-21 13:54] mtg1986 opened #258 "Youtube Video - On different devices"
1.Search Youtube Video
2.Add video on Surface Hub
3.The others see that there is a video tile, but it keeps the status "loading".
4.Ink on the video, save ink
5.Ink is transferred to all the Youtube-Tiles on the other devices, but the video cannot be played on this devices. It still says "Please wait". This status remains and seems not to change anymore.

Version 1.3.98
21.07.2017
Surface Hub, Sur

[2017-07-21 13:54] corradocavalli commented on #257
One note: Please use *reliable* connection, office WiFi is *not*

[2017-07-21 13:57] corradocavalli commented on #258
Does it happen all times on all devices, we do nothing but play the youtube link, look like, *once again* a poor network connection.

[2017-07-21 14:08] mtg1986 commented on #258
We could reproduce it using a different network. On the device where you drop the video everything is fine. On the other devices the video says "Please wait" also after a few minutes and nothing seems to happen.

Network Speed:
![image](https://user-images.githubusercontent.com/19570958/28467043-cbaa3e3e-6e2e-11e7-93be-b2d43ddcedc3.png)

[2017-07-21 16:40] corradocavalli commented on #258
What happens when you reload the same project, is the same tile ok?

[2017-07-25 12:51] corradocavalli commented on #258
Added a fix, please try with new build and provide us feedback.

[2017-07-25 17:04] corradocavalli commented on #257
Can't reproduce, closing.

[2017-07-25 17:04] #257 closed

[2017-07-26 07:08] teguria opened #259 "Available project list not available"
HP Spectre
CB: 1.3.98

Everytime I launch CB on my device, I go to New Projects, scroll to Available Projects but the page loads without loading any project template

[2017-07-26 07:13] teguria opened #260 "Dragging a file into a wrong position (library)"
![dragging](https://user-images.githubusercontent.com/19929395/28609113-93ee4888-71e3-11e7-8236-19467dbd21c4.jpg)
HP Spectre 360
CB 1.3.98

Project Code: 2228
Project Key: 5otgf
Project description: test

ibv-collaboard:open?code=2228&key=5otgf

When I move a file (youtube video) ithe borders become blue while the library is far away from that position

[2017-07-26 07:58] corradocavalli commented on #260
Tried with the same project, please give us a reproducible scenario otherwise can't do nothing but close the issue.

[2017-07-26 08:01] corradocavalli commented on #259
Can you try with another machine and verify if list appears?

[2017-07-26 08:02] corradocavalli commented on #256
Did a small optimization, please try with next release.

[2017-07-26 08:44] teguria commented on #259
@corradocavalli it works on all the other machines, it's just my Spectre (don't know why)

[2017-08-07 09:47] mtg1986 opened #261 "Multiple User Icons after reloading the project"
1.Work on a project
2.Send Surface Pro to sleep mode
3.Continue working on Surface Pro
4.-->Each time I do that a new user icon appears. Please see screenshot:

![image](https://user-images.githubusercontent.com/19570958/29021534-2010641e-7b66-11e7-8a08-8467a8328d6d.png)

Tested with:
Surface Pro
1.3.94.0
07.08.2017

Project:
Project Code: 8509
Project Key: s6lqh

[2017-08-07 11:45] corradocavalli commented on #261
Tried same scenario but can't reproduce it, if you have one, please follow up with the exact repro sequence.
Thanks

[2017-08-08 13:15] gsantopaolo opened #262 "Connection between tiles - double tap"
When in edit mode is not possible to double tap on a tile to start the connection mode

[2017-08-08 13:16] gsantopaolo opened #263 "Connection between tiles - anchor position"
We need a way to change the anchor position of line connecting two tiles once this is already created.
Please let's brainstorm how the UX should be

[2017-08-08 13:22] gsantopaolo opened #264 "Connection between tiles - edit connection - verfy "route""
When a user create a line to connect two tiles then line properties can be edited by tapping and holding the line. This gesture will make appear a new tile "edit connection".
On the edit connection tile there is a switch "route connection" this flag indicate if the line connection the two tiles has to be straight or bezier. We labelled this switch "route connection" please verify if the term "rout

[2017-08-08 13:23] gsantopaolo opened #265 "Connection between tiles - edit connection"
Please remove the apply button and when the user modifies something changes has to be immediately reflected on the UI

[2017-08-08 13:24] gsantopaolo opened #266 "Connection between tiles - edit conncetion"
Edit connection panel appears too fast. when the user taps and holds the connection we need to give some visual feedback and then make the edit connection panel appear smoothly

[2017-08-08 13:25] gsantopaolo opened #267 "Help video tile"
tile needs to be rotated like any other tile
	tile header seems higher than other tile headers
	tile header should include video title

[2017-08-08 13:28] gsantopaolo opened #268 "Tile to full screen - header ux redesign"
When on full screen header needs to be redesigned to guarantee a seamless ux.
Header should become a floating tile

[2017-08-09 07:16] corradocavalli commented on #266
Effect was turned off for internal debugging, now is on and tile behaves like other system tiles.

[2017-08-09 07:42] corradocavalli commented on #265
Done

[2017-08-09 07:42] #265 closed

[2017-08-09 09:06] corradocavalli commented on #267
Tile header is 60 px tall like all others system tiles, all other requests completed.

[2017-08-09 09:06] #267 closed

[2017-08-09 13:17] teguria commented on #264
Connecting route means connecting axial or lateral routes. It doesn't say much about curves but IMO it's good. Something similar can be "connection type" or "switch connection", "link type", "connected as.."

[2017-08-11 13:19] corradocavalli commented on #262
Added to touch devices, not possible with mouse since InkCanvas when active doesn't raise any DoubleTapped event when doiuble clicked and even AddHandler can intercept it.

[2017-08-11 13:21] corradocavalli commented on #268
On full screen header bar no longer exist and control is via a floating bar as requested
![image](https://user-images.githubusercontent.com/5617938/29214745-c4f1fb7e-7ea8-11e7-8711-f46c76580679.png)

[2017-08-14 09:09] mtg1986 opened #269 "CollaBoard Login Screen on Surface Hub"
When we start the new testing version on the Surface Hub, the same login Screen as on a personal device appears.
After log-in we have the multi-user and  multi-ink capabilitites.

Do not know if this is on purpose that we now are forced to log-in on the Surface Hub.

Tested on:
Version 1.3.99.00
Surface Hub
14.08.2017 11:07

[2017-08-14 09:13] corradocavalli commented on #269
Yes, is by design now.
We have unified the experience between pc and hub, so you get all thr benefits (admin, joined projects...)
Please verify that after closing Hub session you are required to login next time.

On 14 Aug 2017, at 11:09, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

When we start the new testing version on the Surface Hub, the same login Screen

[2017-08-14 09:24] mtg1986 opened #270 "Erease Ink with backside of Pen on Surface Hub - Panda"
1.Ink on any tile
2.Try to erase Ink on this tile using the back of the pen
3.-->Panda appears

Is reproducable

Version 1.3.99
Tested on Surface Hub
14.08.2017 11:23

[2017-08-14 09:32] mtg1986 opened #271 "Image Tile - Full Screen Different Background Color"
When we make an Image full screen the background color of the image changes.

Tested on Surface Hub and other devices.

Version 1.3.99.0
Used Image:
![collaboard_logo-blue](https://user-images.githubusercontent.com/19570958/29266172-0f0fba4c-80e4-11e7-8e9d-af1fef74a274.png)

See image for further explanation:

![whiteboard_2017-08-14_112713](https://user-images.githubusercontent.com/19570958/29266

[2017-08-14 09:43] corradocavalli commented on #270
Ok, this is a regression introduced with the new toolbar, it should be very easy to fix.
FYI: The pen you use to tap the toolbar button is used to configure the toolbar panel with the same previous configuration at opening. And ink panel selection is applied to the pen used to tap the Apply button. If you use finger to tap Apply or open the ink toolbar panel, since we can't detect to which pen app

[2017-08-14 09:44] mtg1986 opened #272 "Sticky Note Full Screen - Stick goes not full screen"
1.Create new sticky note
2.Make sticky note Full screen

Then the sticky note moves to the upper left corner and is not full screen. I can move the toolbar outside of the sticky note.

![whiteboard_2017-08-14_114127](https://user-images.githubusercontent.com/19570958/29266600-c01a5f12-80e5-11e7-90c9-b05fa6310617.png)

Tested: 1.3.99
Surface Hub

[2017-08-14 09:56] mtg1986 opened #273 "Tile Connection Stays when closing project and when opening a new project"
1.Connect some tiles
2.Close Project
3.Tile connection is still there
4.Start a new project
4.Tile connections from the old project are still there, but not the tiles.

Tested: Surface Hub
Version 1.3.99

![whiteboard_2017-08-14_115340](https://user-images.githubusercontent.com/19570958/29267068-6b4f02ce-80e7-11e7-9976-9ccae0f211bb.png)

![whiteboard_2017-08-14_115511](https://user-images.githubus

[2017-08-14 10:01] corradocavalli commented on #272
This sounds weird, it is reproducible? It happens on all machines? (pc vs hub)

On 14 Aug 2017, at 11:44, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

1.Create new sticky note
2.Make sticky note Full screen

Then the sticky note moves to the upper left corner and is not full screen. I can move the toolbar outside of the sticky note.

[whiteboard_2017-08-14_1141

[2017-08-14 10:04] mtg1986 commented on #272
I am sorry, it was reproducable on the Hub, but after restarting CollaBoard, we are not able to get the same error again.
Closing it, and re-opening, when we are able to reproduce.

[2017-08-14 10:07] corradocavalli commented on #273
Yes, probably a last minute regression, very easy to fix.

On 14 Aug 2017, at 11:56, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

1.Connect some tiles
2.Close Project
3.Tile connection is still there
4.Start a new project
4.Tile connections from the old project are still there, but not the tiles.

Tested: Surface Hub
Version 1.3.99

[whiteboard_2017-08-14_11534

[2017-08-14 13:05] gsantopaolo commented on #269
On moment please, I've to review this.

thanks all
-g

[2017-08-14 13:18] gsantopaolo commented on #269
Ok, I reviewed the login functionality and i believe somewhere there was a big misunderstanding.

On the Surface Hub (team family) we do want to allow user to log in because this can hel in some particlar case.
it is mandatory that CollaBoard on Team devices can work as a team, collaborative software, in other workds to work without any authentication.

To solve that challenge we need to add a but

[2017-08-14 13:29] mtg1986 opened #274 "Problems with Zoom Feature on Personal Devices"
After logging in to a project, zoom in and out of the canvas does not work anymore. It is reproducable on these machines. It it is not happing all the time. Seems to be random.

Tested on:
Think PAD
China Table
Dell Laptop

Version 1.3.99.0

[2017-08-14 13:57] mtg1986 opened #275 "Upload PDF - PANDA"
1.Create New Project on Surface Hub
2. 3 other devices login to the same project
3.Upload from personal device PDF
4.Try Voice Command: "CollaBoard Add Sticky Note" -->Answer is "Cant do this right now"
5.Create Library on the Hub
5.-->We get a Panda (only on Hub)
"It seems that there is a problem. We will investiage it...."

Tested:
Surface Hub + Personal Devices
Version: 1.3.99.0
14.08.2017
15:5

[2017-08-14 14:01] mtg1986 opened #276 "Issue with Voice Commands"
We tried all voice commands and get always the answer "Can't do this right now".

Version 1.3.99.0
Tested on Surface Hub

[2017-08-14 14:02] corradocavalli commented on #275
Is ir reproducible? Are you using *wired* connection for all devices?

On 14 Aug 2017, at 15:57, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

1.Create New Project on Surface Hub
2. 3 other devices login to the same project
3.Upload from personal device PDF
4.Try Voice Command: "CollaBoard Add Sticky Note" -->Answer is "Cant do this right now"
5.Create Library o

[2017-08-14 14:06] mtg1986 commented on #275
We are using the W-Lan over the Aeoronet. It seems to bee that the voice commands have something to do with the issue as they are not working. After CollaBoard says "I am sorry I can't do this right now" and then adding a library it crashes.

[2017-08-14 14:09] corradocavalli commented on #274
On these machines only? How do you zoom? (Touch, mousewheel)
Please provide a repro scenario, i've tested it thousand times these days with.my machines.
Thanks.

On 14 Aug 2017, at 15:29, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

After logging in to a project, zoom in and out of the canvas does not work anymore. It is reproducable on these machines. It it is

[2017-08-14 14:13] gsantopaolo commented on #270
@corradocavalli honestly i don't like that. please remember me to discuss pen behavior when you'll be back

thanks.

[2017-08-15 07:06] mtg1986 commented on #269
Suggestions for Button Text:

-Use Personal Edition (Login)
-Use Team Edition (No Login)

Start working

-with Personal Edition (Login)
-with Team Edition (No Login)

[2017-08-15 15:32] mtg1986 opened #277 "Apply Button in Ink Toolbar"
Please try to find a better solution than the apply button in the Ink Toolbar. It is nice that we can now select Color and stroke size.

[2017-08-16 07:22] mtg1986 opened #278 "New Ink Toolbar - Multiuser missing"
At the moment only one user can use the new ink toolbar. This means we create two sticky notes and on each sticky note one user wants to select a Color and stroke size. At the moment it is not possible that two users are doing this simultaniously.

While editing tile connection, like changing Color, this can be done by two users at the same time.

Version. 1.3.99
16.08.2017
Surface Hub

[2017-08-16 07:35] corradocavalli commented on #278
Can you clarify it better? You mean multi users on the same tile can’t interact with tile’s ink toolbar at the same time or else?

Da: Michael Görög<mailto:notifications@github.com>
Inviato: mercoledì 16 agosto 2017 09:22
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Oggetto: [IBVSoftware/CollaBoard-Feedback]

[2017-08-16 07:50] mtg1986 commented on #278
What I mean is that on two different tiles the ink toolbar can not be used simultaniously.

Hope it will get a bit clearer with this scenario:

Scenario:
Person 1: Create a sticky note
Person 2: Upload a picture
Person 1 and 2 wants to choose simultaniously on the same device, Person 1 on the sticky note and Person 2 on the picture, a Color for their pen.
At the moment the behaviour is like that t

[2017-08-16 08:25] mtg1986 opened #279 "Tile Connection - Rotating Tile"
Please look at the following scenario. When I conncet two tiles and then rotate on of them, the connection seems not to adjust to the rotation. Hope it is clear with the GIF.

![connection tiles](https://user-images.githubusercontent.com/19570958/29354202-099b4e5c-826d-11e7-8c3b-9f9b48f2103e.gif)

[2017-08-16 09:01] corradocavalli commented on #275
Voice commands were are now back to work with build 100, tried several times this scenario but can't reproduce the Panda. Please retry again with new build and provide feedback.

[2017-08-16 09:03] corradocavalli commented on #276
Voice commands were broken due to a regression, they're back with build 100, closing since it is a duplicated of issue #245

[2017-08-16 09:03] #276 closed

[2017-08-16 10:40] corradocavalli commented on #270
Fixed with v100, please check it with Hub and close if ok.

[2017-08-16 11:02] corradocavalli commented on #273
Fixed in v100.

[2017-08-16 17:53] corradocavalli commented on #277
Apply button has been remove in v100, and changes are now applied immediately.
As requested by Gian if you use fingers instead of a pen for attributes selection, attributes aren't reset as in v99 but simply not applied, this means that a bit of explanation must be provided to users otherwise it could be seen as a bug where selection isn't working.

[2017-08-16 17:56] #272 closed

[2017-08-17 10:15] mtg1986 opened #280 "Video Recording - Video is not recorded"
There seems to be a problem with Video recording.
Version: 1.3.94.0
Device: Surface Po

(I did not tested yet how it is in Version 1.3.99)

1.Record Video
2.Recorded Video is not saved, there appears a tile descirbing that file format is not valid.
3.If I try to record again then I get a panda.
For repo have a look at the GIF:

![record_video](https://user-images.githubusercontent.com/19570958/294

[2017-08-17 11:04] corradocavalli commented on #280
Can you try with another device? Tried with my machines and I have no problems with recordings.

Da: Michael Görög<mailto:notifications@github.com>
Inviato: giovedì 17 agosto 2017 12:15
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Oggetto: [IBVSoftware/CollaBoard-Feedback] Video Recording - Video is not recor

[2017-08-17 11:35] mtg1986 commented on #280
We tried with some other machines . Seems to be a Surface Pro related problem. I will do some other tests with the camera. Otherwise we can have a look at it during the testing week.

[2017-08-17 11:52] corradocavalli commented on #280
Try to compare camera settings with one on the working machine.

[2017-08-17 11:54] corradocavalli commented on #274
Tried both mouse and touch mode with my machines and  zooming works fine with both, what about Surface or other models machines?

[2017-08-17 19:17] mtg1986 commented on #275
Voice commands are working with 1.3.100
Tested on Surface Pro

[2017-08-17 19:17] #275 closed

[2017-08-17 19:18] mtg1986 commented on #273
Confirm fix

[2017-08-17 19:18] #273 closed

[2017-08-17 19:32] mtg1986 commented on #277
At the moment the ink toolbar does not disappear after I have selected something. Also when I start Inking the toolbar does  not disappear either. I can ink over the toolbar and the ink stays behind the toolbar.

If I select Color or stroke size with finger the attributes are applied.

V 1.3.100
Surface Pro

![ink_toolbar_usage](https://user-images.githubusercontent.com/19570958/29430102-67cdaf3e-

[2017-08-17 19:41] mtg1986 commented on #256
I tested it with the newest version. While tile creating is now very fast, I think I do not see a difference then before. Also if I add fast a sticky note, a library, a grid library, audio etc. the shadow on the radial menu is not always there, when I tap on one of the icons.

Version: 1.3.100
Surface Pro

[2017-08-17 20:01] mtg1986 opened #281 "[Proposal] New Sticky Notes Background Colors"
What do you think about having some different Colors for the sticky notes background?
We also thought about how to order them.

![image](https://user-images.githubusercontent.com/19570958/29431260-96141f28-8397-11e7-8993-9ce8b918a864.png)

[2017-08-17 20:45] mtg1986 opened #282 "Drag & Drop Images - Message"
When I Drag and Drop Images the Message "Closing Project appears". With Video it is not the case.
Project is not closed and I can contiue working
Version: 1.3.100
Surface Pro
![closing_project_message](https://user-images.githubusercontent.com/19570958/29432986-c8ea680c-839d-11e7-91ff-d5e6f0e525d6.gif)

[2017-08-17 21:16] corradocavalli commented on #281
If i well remember someone asked for white also.
Just decide the colors and ordering and provide us the list.
Same for connection colors, the one we have now are just placeholders.

On 17 Aug 2017, at 22:02, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

What do you think about having some different Colors for the sticky notes background?
We also thought about ho

[2017-08-18 04:42] corradocavalli commented on #277
Is not a problem to close it on selection but this would revert back to the old annoying behavior where you have to tap twice if you want to change the color and then pen size, is this ok?
Finger selection works on device without multipen support, it doesn’t on Surface Hub.

Da: Michael Görög<mailto:notifications@github.com>
Inviato: giovedì 17 agosto 2017 21:32
A: IBVSoftware/CollaBoard-Feedback<

[2017-08-18 04:43] corradocavalli commented on #256
Can you provide a gif to see the effect?

Da: Michael Görög<mailto:notifications@github.com>
Inviato: giovedì 17 agosto 2017 21:41
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply.github.com>
Cc: Corrado Cavalli<mailto:corrado@outlook.com>; Comment<mailto:comment@noreply.github.com>
Oggetto: Re: [IBVSoftware/CollaBoard-Feedback] Radial Menu - Shadow when tapping (#256)

I test

[2017-08-18 05:01] corradocavalli commented on #282
Can't reproduce, can you provide a repro sequence?

[2017-08-18 05:59] corradocavalli commented on #277
Added close on selection and pen size changed on v101, behavior is now exactly the same as old toolbar.

[2017-08-18 07:35] corradocavalli commented on #256
It should be fixed in build 101
![radial](https://user-images.githubusercontent.com/5617938/29448775-8564d5d0-83f8-11e7-8adf-864df57ed091.gif)

[2017-08-18 07:40] corradocavalli commented on #269
Here's login page on Surface with build 101, texts can be changed if you prefer other alternatives.
When user logins on a Surface Hub a warn message is displayed to remind him to logout or close session, we need a proper text, probably one similar to the one in Whiteboard.

![image](https://user-images.githubusercontent.com/5617938/29448900-f105a418-83f8-11e7-80e0-c7346425b002.png)

[2017-08-18 07:41] corradocavalli commented on #271
Any feedback on this?

[2017-08-18 08:49] mtg1986 opened #283 "Create Multiple Grid Libraries"
When I create multiple sticky notes then they are arranged differntly as if I do the same with Grid libraries and libraries.
With sticky notes I can see very good that I added a new one With grid libraries I do not see it, as the new one is covering the existing one completely

Version 1.3.100
Surface Hub and Surface Pro

![create_multiple_grid_libraries](https://user-images.githubusercontent.com/

[2017-08-18 09:01] mtg1986 opened #284 "Loading Project - Error"
1.Load Project (2278, 3kt9s)
2.Not all the time but like 50% of the attemps we get the following panda:

![image](https://user-images.githubusercontent.com/19570958/29451780-31aa89ec-8404-11e7-8977-6d3ab6015b8a.png)

3.When I click ok, the canvas is only as large as the screen is and I cannot move around.
-->I need to restart CollaBoard
![error_on-loading_project](https://user-images.githubusercon

[2017-08-18 09:17] corradocavalli commented on #284
Please send me key and code of the project.
Thanks

On 18 Aug 2017, at 11:01, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

1.Load Project
2.Not all the time but like 50% of the attemps we get the following panda:

[image]<https://user-images.githubusercontent.com/19570958/29451780-31aa89ec-8404-11e7-8977-6d3ab6015b8a.png>

3.When I click ok, the canvas is only

[2017-08-18 09:23] corradocavalli commented on #284
Sorry, didn't notice it is was already mentioned...

[2017-08-18 09:29] corradocavalli commented on #284
Can't reproduce it on my machines, can you try with another machine to check if it related to your computer?

[2017-08-18 09:32] mtg1986 commented on #284
Tired now again as well, and it did work.
We encountered the issue on Surface Pro, Surface Hub and Dell Laptop.

[2017-08-18 11:28] corradocavalli commented on #283
Fixed in v101

[2017-08-18 14:40] corradocavalli commented on #279
Hi Michi,
this is a limitation of version 1 (we use a routing algorithm that doesn't handle rotation and fix it requires some time to study it) since it is not a nice visible effect what we can do with for this release is to limit diagram connections between not rotated tiles.
Depending on user feedback we can the decide if it worth investing more in making the feature richer.
What do you think?

[2017-08-18 15:19] agorog opened #285 "Move connected tile to library / grid library"
Version 1.3.100 Surface Hub

Add grid library, add 2 sticky notes. connect the 2 sticky notes. move one sticky note to grid library. the connecting line stays displayed pointing to nowhere. When moving the sticky note of the grid library it is not connected any more. Proposal for this version: Delete the connections when a tile is moved to a grid library / library, inform user that connection will

[2017-08-18 16:25] corradocavalli commented on #285
Regression fixed in v101, now connections are removed when a tile is dropped in a Library/GridLibrary
Dialog not added yet since it impacts all the tiles

[2017-08-21 08:05] mtg1986 opened #286 "UI Question - Set background Image vs. Background Color"
I was asked, why do I adjust the background Color under the menu item "Settings" and why do I set the background image under the menu item "Info"

[2017-08-21 08:15] corradocavalli commented on #286
Because former is app based while latter is project based.

On 21 Aug 2017, at 10:05, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

I was asked, why do I adjust the background Color under the menu item "Settings" and why do I set the background image under the menu item "Info"

—
You are receiving this because you are subscribed to this thread.
Reply to this ema

[2017-08-21 12:24] mtg1986 opened #287 "User Icons in Project"
1.Create new project on Hub (team edition) -->One User Icon - correct
2.Loing to project on Hub (personal edition) --> Two Use Icon - correct
3.Loing from China Tablet (personal edition) --> Sees only her user icon.
4.Login from Surface Pro (China Table sees now her user icon and the one from the Surface Pro)
5.Login over ThinkPad Lenove Laptop (sees all users, but the one from Surface Pro is miss

[2017-08-21 14:08] mtg1986 opened #288 "Change Project Ownership - User disappears until reload of project"
1.New Proejct --> Change Owernship from ASUS Device to Surface Pro
2.Change ownerhsip back from Surface Pro to ASUS Device. We do not see the ASUS User anymore under Info (we cannot selct him anyomre)
3.Rload project on ASUS Device
4.On Surface Pro we see the ASUS user again and can change project owernship

[2017-08-21 14:22] #283 closed

[2017-08-21 14:27] #270 closed

[2017-08-21 14:32] #266 closed

[2017-08-21 15:03] corradocavalli commented on #282
Fixed in v 102

[2017-08-21 15:03] #282 closed

[2017-08-21 16:24] corradocavalli commented on #274
Fixed in v102

[2017-08-21 16:29] corradocavalli commented on #288
Fixed in v102, please note that old administrator must reload the project in order to be visible on the new administrator list.

[2017-08-23 13:21] mtg1986 commented on #281
Here an overview about the new Colors:

[Color Codes Collaboard.pdf](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1245508/Color.Codes.Collaboard.pdf)

[2017-08-30 22:46] #281 closed

[2017-08-30 22:46] #277 closed

[2017-08-30 22:47] #274 closed

[2017-08-30 22:48] #258 closed

[2017-08-30 22:49] mtg1986 commented on #284
Not reproducable and did not happend again. Closing.

[2017-08-30 22:49] #284 closed

[2017-08-30 22:51] mtg1986 opened #289 "Info Tile on Hub using Team Edition"
When I use the team edition on Surface Hub the iInfo tile only contains two slides. The slide to set a background image or to switch project ownership are not displayed.
Tested with:
1.3.106
Surface Hub
31.8.2017

[2017-08-30 23:00] mtg1986 opened #290 "Sticky Note Full Screen - Background Color"
1.Make Sticky Note Full Screen
2.Change Background Color
3.The menubar is at the bottom of the sticky note. When I want to change background Color, the menu is showed down instead uf up. When choosing ink Color and stroke size the menu pops up into the wrong direction.

![fullscreenbackgroundcolor](https://user-images.githubusercontent.com/19570958/29898740-d03c4aae-8de7-11e7-8794-9bc38e7dfd6c.gif

[2017-08-30 23:03] mtg1986 commented on #261
Cannot reproduce anymore. Closing

[2017-08-30 23:03] #261 closed

[2017-08-31 00:08] corradocavalli commented on #289
It's by design, on Team edition there's no user and so those options are not available.

On 30 Aug 2017, at 18:51, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

When I use the team edition on Surface Hub the iInfo tile only contains two slides. The slide to set a background image or to switch project ownership are not displayed.
Tested with:
1.3.106
Surface Hub

[2017-08-31 00:13] corradocavalli commented on #290
On what device the problem appears?
I've fixed (and tested) this issue raised during tests so I need to know if it might device dependent.

On 30 Aug 2017, at 19:01, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

1.Make Sticky Note Full Screen
2.Change Background Color
3.The menubar is at the bottom of the sticky note. When I want to change background Color, the

[2017-08-31 14:04] gsantopaolo opened #291 "Bugs to be tested on Sruface Hub 84''"
Hi,
   unfortunately i noticed some bad behaviors on 84' device.
Please arrange a test on a 84' ASAP

thank you
-g

[2017-08-31 21:11] corradocavalli commented on #291
Can you elaborate more about what kind of bad behaviors you found.
How can we get a 84" device for testing?

On 31 Aug 2017, at 10:04, Gian Paolo Santopaolo <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #291<https://github.com/IBVSoftware/CollaBoard-Feedback/issues/291> to @corradocavalli<https://github.com/corradocavalli>.

—
You are receiving this because you were

[2017-09-04 02:57] mtg1986 commented on #289
But this would mean that I cannot get ownership of a project that I created on the Surface Hub and that I cannot load a background image as a template.

Can we change that, as sometimes it is important to get the ownership of a project, even when created by a team?

[2017-09-04 11:11] mtg1986 opened #292 "List: Load and existing projects not complete"
1.Start CollaBoard
2.Click on Load Project
3. The list does not all the time show all the projects I created or joined. It seems not to load all the data. When doing it several times I get randomly different list. This means that the first project I see has sometimes the number 5000 then I see all up to with number of 7000 and so on.

04.09.2017
1.3.106
Desktop PC

[2017-09-04 13:05] gsantopaolo opened #293 "Surface Hub Pens properties not working"
when selecting different pen's properties on surface hub these are not stored correctly

[2017-09-04 13:06] gsantopaolo opened #294 "Sometimes when dropping help videos application crashes"
Some times, when dropping on the canvas videos from help the application crashes.
This is a not reproducible bug that needs to be reproduced and fixed during next testing week

[2017-09-04 13:08] gsantopaolo commented on #291
@mtg1986  why did you closed this?
This must be tested on a 84' inches as well as lots of other things. Please report to me before closing my bugs thanks

[2017-09-04 13:09] gsantopaolo commented on #268
@corradocavalli  please ping me to discuss about the floating bar design, thanks! :)

[2017-09-04 13:10] corradocavalli commented on #293
What do you exactly mean? Is the pen selection that is not applied correctly or selection ink panel doesn't keep pen's properties?

On 4 Sep 2017, at 09:05, Gian Paolo Santopaolo <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #293<https://github.com/IBVSoftware/CollaBoard-Feedback/issues/293> to @corradocavalli<https://github.com/corradocavalli>.

—
You are receiving

[2017-09-04 13:38] gsantopaolo opened #295 "Bug when on customer"
Please run the following query on both client and server telemetry

_traces | where timestamp > datetime("2017-08-29T00:00:00") and timestamp < datetime("2017-08-29T23:00:00")_

You will notice that there are a couple of DBFailedToPerformRequestedAction this leads the application to malfunction while presenting on a customer.
We need to reproduce this issue, find out what's going on and fix it.

P

[2017-09-04 13:39] mtg1986 opened #296 "CollaBoard Help - Panda"
-Start a project
-Go to Help
-Open Help
-Drag and Drop a video
-Touch The video
-->Then we get a panda "The answer is to reload a project". Click ok to proceed.

Issue happens only on Hub
Version: 1.3.106

[2017-09-04 13:44] mtg1986 opened #297 "Use Template Project on Surface Hub in Team Edition Mode"
We cannot use the project template features on the Surface Hub, when logged in as a team edition. I think this is what we need to change.

[2017-09-04 13:49] mtg1986 opened #298 "Video Length now 40 sec"
In previos version we could record 60 Sec of videos.
Now we can only record 40 seconds.
Can we change that back?

[2017-09-04 13:54] gsantopaolo commented on #292
this is something that needs to be reproduced on testing week.
Please report to me before closing this

thanks
-g

[2017-09-04 13:56] corradocavalli commented on #296
On Hub only? (really weird) can you check with other touch devices?
 It happens with any video?

On 4 Sep 2017, at 09:39, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

-Start a project
-Go to Help
-Open Help
-Drag and Drop a video
-Touch The video
-->Then we get a panda "The answer is to reload a project". Click ok to proceed.

Issue happens only on Hub
Version:

[2017-09-04 13:56] gsantopaolo commented on #289
@mtg1986 @corradocavalli  please, next week, when we will be in ibv hq together please ping me on this thanks

[2017-09-04 14:04] mtg1986 opened #299 "Canvas is only the screen size"
1.Create a new project
2.Close the Info tile NOT
2.Add an PNG File (infographic)
3.Canvas shrinks to screen size and we cannot navigate around the canvas anymore. The borders are the screen.
4.When we close the Info tile the canvas is there again.
![how-to-gamestor_21284426_37719dff21111ed77a7d5b87e5a689d3c91ea600](https://user-images.githubusercontent.com/19570958/30029723-a9a11b4e-918a-11e7-818c

[2017-09-04 14:05] mtg1986 opened #300 "Tile Rotation - Enabeling and Disabeling"
In earlier version we had the baviour, when we rotated tiles and disabled tile rotation all tiles moved back automatically to horizontal orientation.

It this on purpose that we do not have this anymore?

[2017-09-04 14:11] mtg1986 opened #301 "Screen gets black for a second"
1.Create 2 Sticky Note
2.Both are in edit mode
3.Ink on Sticky A and move with two Finger Sticky B. Then the screen gets black for a second. If we repated many times than the Hub crashes. This means a white screen and then CB crashes.

4.We get an Error message on the Hub:

![displaydrivererror](https://user-images.githubusercontent.com/19570958/30029995-bd8173d8-918b-11e7-8939-3c67d4f9e4f0.jpg)

[2017-09-04 14:16] gsantopaolo commented on #300
Id do not think so, anyway no one asked me to change this behavior, so any changes wasn't approved!

[2017-09-04 14:17] corradocavalli commented on #299
Please send me via mail the png and the key/code of the project you used for this case.
Thanks

On 4 Sep 2017, at 10:04, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

1.Create a new project
2.Close the Info tile NOT
2.Add an PNG File (infographic)
3.Canvas shrinks to screen size and we cannot navigate around the canvas anymore. The borders are the screen.
4.When

[2017-09-04 14:19] gsantopaolo commented on #301
We have to report this to Microsoft... but do not close this issue

[2017-09-04 14:20] mtg1986 opened #302 "Sticky Note does not go in Library"
1.Move a sticky not to the library
2.Instead of having the sticky note moving into the library nothing happens. We left the project and reloaded the project. After that we could move it into the library.
I know it is a very large project and we uploaded a lot of stuff. We also got an "Out of Ink ressource Error".

-->Will be difficult to reproduce, but we could do it in the same project. Ask Tamar

[2017-09-04 14:21] mtg1986 commented on #302
![outofink](https://user-images.githubusercontent.com/19570958/30030323-07b5cd90-918d-11e7-8609-f624cbb7f3e6.JPG)

[2017-09-04 14:25] corradocavalli commented on #302
I might be wrong but tiles that are in edit mode cannot be moved into libraries by default) that's why you can't initially drag them into.
The message you see is because we have a limited number of tiles that ca be simultaneously be in edit mode.

On 4 Sep 2017, at 10:21, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

[outofink]<https://user-images.githubusercont

[2017-09-04 14:38] mtg1986 commented on #302
Hi Corrado,
please have a look at the picture. The Sticky Note Tamara dropped was not in edit mode anymore. As it was working after reloading the project I think this is not a high priority issue.

Do you know the exact number of tiles that can be simultaniously in edit mode?

[2017-09-04 14:39] mtg1986 commented on #296
It happens only on the Hub. On Surface Pro and on HP Spectre and the other devices it was working.

[2017-09-04 15:07] mtg1986 commented on #291
@gsantopaolo : Sorry this was a mistake. I am trying to organize the room with the 84'' at ALSO or MS CH.

[2017-09-04 15:11] gsantopaolo opened #303 "Test to remote deploy on the hub from our pc"
Not sure, but it seems that when you (  @corradocavalli ) deploy the app from you pc to the hub then i'm not able to deploy it and the hub need to be reset to factory defaults.

Next week we must test this
thanks
-g

[2017-09-04 15:49] mtg1986 commented on #299
We also tried with other files and the behavior is the same. It only happens when adding files via "Load File". When creating a Sticky Note, this does not happen and the canvas stays zoomable

[2017-09-04 17:21] gsantopaolo commented on #302
Hi guys, this seems another bug that we have to get ride of during testing week.
Please do not close this until we can reproduce, fix and say that is then working

thanks

[2017-09-04 17:23] gsantopaolo commented on #291
@mtg1986  Thank you!

[2017-09-04 17:26] gsantopaolo commented on #280
guys, even if this happens on a single device is something that we have to investigate and fix.
thanks
-g

[2017-09-04 17:28] gsantopaolo commented on #278
@mtg1986  @corradocavalli  is this still an issue or not?

[2017-09-04 17:29] gsantopaolo opened #304 "Info Tile"
On the Hub (we have to check if is same o other devices) machine id is shown only when a user has an active license.
Please show the machine id all time as we need this to identify the device in the back end

thanks

[2017-09-04 17:38] gsantopaolo opened #305 "Drop help video on a grid library causes panda and app to reload"
Open a project,
On help videos
Drop an help video on the canvas
Create a grid library
Drop the help video on the grid library
You got a panda
App needs to reload

@corradocavalli  non interactive tiles should not interact with interactive tiles, in this case help videos can't be dropped on a container but please check the described rule for all our non interactive tiles when interacting with inter

[2017-09-04 17:43] gsantopaolo opened #306 "User list on user presence"
User presence list
![image](https://user-images.githubusercontent.com/9937149/30035319-2da704b2-91a9-11e7-8a1f-2993223e27fc.png)

isn't showing correctly users connected to the application.
It is hard to reproduce so this is something that the testing week should solve.
@mtg1986  please organize users so they can work on this bug with @corradocavalli  until is solved
thank you

[2017-09-04 17:57] gsantopaolo opened #307 "Register license popup showing after added a valid key"
After entered a valid license key app is still showing the pop up blocking the ui for xx seconds
And the pop up is counting contrariwise  without ending!!!!

![image](https://user-images.githubusercontent.com/9937149/30035493-159ec114-91ab-11e7-975b-516115b160fd.png)

![image](https://user-images.githubusercontent.com/9937149/30035496-205fd4c6-91ab-11e7-8cf2-692bcbab9455.png)

[2017-09-04 18:18] gsantopaolo opened #308 "Dropping lots of images on the canvas"
I've two users connected to the same project from a pc lots of images are dropped to the canvas at the same time
On the other machine i'm able to see times coming with the loading panel
Even waiting 10 or more minutes images are not loaded, tiles stays with the loading panels.
By closing the project and reopening it images are shown

[2017-09-04 19:33] gsantopaolo opened #309 "Got panda after leaving collabord on hide for a wile"
On my Surface Pro i switched to some different application for a wile, when back on collaboard, i got the pada "An initialization exception occurred, all functionalities are unavailable. Application will be now closed"

04/09/2017 21.30 project id 7817

[2017-09-05 05:06] corradocavalli commented on #300
I didn't changed this on purpose, so it might be the result of recent changes.

On 4 Sep 2017, at 10:16, Gian Paolo Santopaolo <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #300<https://github.com/IBVSoftware/CollaBoard-Feedback/issues/300> to @corradocavalli<https://github.com/corradocavalli>.

—
You are receiving this because you were mentioned.
Reply to this email

[2017-09-05 05:09] corradocavalli commented on #302
If was not in edit mode it might be a bug, please try to provide a reproducible scenario.
Technically is 127, but value changes depending on resources, it would say.more or less around 100.

On 4 Sep 2017, at 13:21, Gian Paolo Santopaolo <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi guys, this seems another bug that we have to get ride of during testing week.
Please do not

[2017-09-05 05:16] corradocavalli commented on #306
This happens when the app crashes and the user login again, the server return the same user twice because of missing logout. we discussed about implementing some sort of ping message in the past...

On 4 Sep 2017, at 13:43, Gian Paolo Santopaolo <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #306<https://github.com/IBVSoftware/CollaBoard-Feedback/issues/306> to @corra

[2017-09-05 05:18] corradocavalli commented on #307
This happended once in the past, tried tons of times w/o being able to replicate.
Asked tester to provide a scenario but got no answer, if you have a reproducible scenario it would help a lot.

On 4 Sep 2017, at 13:57, Gian Paolo Santopaolo <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #307<https://github.com/IBVSoftware/CollaBoard-Feedback/issues/307> to @corradocav

[2017-09-05 05:22] corradocavalli commented on #309
This happens because sometimes signal R doesn't reconnect within X (configurable) number of seconds.
Technically the app handles it, asking user to relaunch app, what else can we do?

On 4 Sep 2017, at 15:33, Gian Paolo Santopaolo <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #309<https://github.com/IBVSoftware/CollaBoard-Feedback/issues/309> to @corradocavalli<https

[2017-09-05 08:43] tamarawasser opened #310 "Tiles in Project are not loaded on all devices"
5th of September - 10:30am
Project: 8963
Key: ueh60

Svenja created the project on the Cube i8-L Tablet
Looks like this:
![organigramm ibv](https://user-images.githubusercontent.com/25382402/30052477-df404054-9225-11e7-9b20-f1faf6619f21.PNG)
She worked on this Project on the Cube i8-L Tablet for a while, than closed the project and wanted to continue working on the project on her Dell Inspiron 175

[2017-09-05 11:37] corradocavalli commented on #310
Ok, please don't use this project until i got a chance to inspect it.
Thanks.

On 5 Sep 2017, at 04:43, tamarawasser <notifications@github.com<mailto:notifications@github.com>> wrote:

5th of September - 10:30am
Project: 8963
Key: ueh60

Svenja created the project on the Cube i8-L Tablet
Looks like this:
[organigramm ibv]<https://user-images.githubusercontent.com/25382402/30052477-df404054-9225-11

[2017-09-05 11:52] tamarawasser commented on #310
Svenja worked on it in the morning again. It looks a bit different now. But she stopped working on it right now.

[2017-09-05 12:08] corradocavalli commented on #310
Can you try opening the same project on a different machine and let me know if it loads correctly or not?
Thanks.

On 5 Sep 2017, at 07:52, tamarawasser <notifications@github.com<mailto:notifications@github.com>> wrote:

Svenja worked on it in the morning again. It looks a bit different now. But she stopped working on it right now.

—
You are receiving this because you commented.
Reply to this ema

[2017-09-05 12:33] tamarawasser commented on #310
When we open the project now on my device HP Spectre, on Svenjas Dell and on the little Tablet, the project looks the same on each device.

[2017-09-05 13:03] gsantopaolo commented on #309
I don't think this is the issue, we have to test together, try to reproduce, and then find a better solution

[2017-09-05 13:04] gsantopaolo commented on #307
@corradocavalli before ne next release on the testing week this need to be reproduced and fixed :)

[2017-09-05 13:05] gsantopaolo commented on #306
@corradocavalli no crashes btw did't get user list correctly

[2017-09-05 13:08] gsantopaolo commented on #303
Found reason. VS 2017 15.3.3 ha a bug, @corradocavalli  be prepared with VS 2017 15.2 otherwise you won't be able to remote debug on Surface Hub

[2017-09-05 13:11] gsantopaolo opened #311 "Design Update - Sticky note error message when there are no ink layer"
This design is very poor and not aligned with other CollaBoard UI !

![image](https://user-images.githubusercontent.com/9937149/30062686-537689da-924c-11e7-89d3-df0280d6ea5a.png)

[2017-09-05 13:14] tamarawasser opened #312 "Panda when loading an existing project"
5th September 3pm
Open CollaBoard on Dell Inspiron 1750
Put in Split Screen (CollaBoard and Web are open)
Load an existing Project (Project: 8969 / Key: a8dk8)
Click load
Panda appears
![panda](https://user-images.githubusercontent.com/25382402/30062779-abb35f6a-924c-11e7-88b1-38412e48fa61.png)

Click okay on Panda
CollaBoard Start Screen appears
On the Start Screen CollaBoard loaded Sticky Notes

[2017-09-05 13:16] gsantopaolo commented on #293
1. When selection some ink proprieties from the panel they work the first time user ink with the pen.
2. Then another user ink
3. If the previous user inks again their ink property (selected on step 1) aren't applied

[2017-09-05 13:29] corradocavalli commented on #312
Does it happen all times and also when screen is not splitted?

On 5 Sep 2017, at 09:17, tamarawasser <notifications@github.com<mailto:notifications@github.com>> wrote:

5th September 3pm
Open CollaBoard on Dell Inspiron 1750
Put in Split Screen (CollaBoard and Web are open)
Load an existing Project (Project: 8969 / Key: a8dk8)
Click load
Panda appears
[panda]<https://user-images.githubusercontent

[2017-09-05 13:35] tamarawasser commented on #312
It happen all the time but just in Split Screen. When there is just CB open on the Screen it works normal.

[2017-09-06 05:58] corradocavalli commented on #311
Ok, and what is the 'official' UI for this special case?
Please note that standard error message is not applicable and when this error happens application is in a stale state.

On 5 Sep 2017, at 09:11, Gian Paolo Santopaolo <notifications@github.com<mailto:notifications@github.com>> wrote:

This design is very poor and not aligned with other CollaBoard UI !

[image]<https://user-images.githubuserc

[2017-09-06 10:54] gsantopaolo commented on #311
I know. Let's discuss next week this

[2017-09-06 10:56] #303 closed

[2017-09-06 20:07] corradocavalli commented on #278
The behavior has technically been changed to fit the request, waiting for final ok from @mtg1986.

[2017-09-06 20:11] corradocavalli commented on #280
During last testing week i tried: Surface Pro, both Hubs, Surface Pro 3 and Pascal notebook, everything was fine, need to find a device where it happen, @mtg1986 can you try to find it?

[2017-09-06 21:05] corradocavalli commented on #294
It should be fixed in 107.

[2017-09-06 21:08] corradocavalli commented on #305
Fixed in 107, tested also with all non interactive tiles, all were ok.

[2017-09-06 21:24] corradocavalli commented on #304
Checked right now simulating Hub config and Machine Id is always displayed.
@mtg1986 can you verify this on a real device?

[2017-09-06 21:32] corradocavalli commented on #300
I had a look at commit stack and this has effectively changed because previous behavior was conceptually wrong.
Tile Rotation is an **app** setting, this means that each installation can have it's own value.
Tile Rotation means:  "_app cannot be rotated, not tile cannot have a rotation angle != 0_" this means that an app having rotation=false can also load projects containing rotated tiles.
In pre

[2017-09-06 22:05] corradocavalli commented on #307
It might be a race condition, added a flag guard but definitively need more testing.

[2017-09-07 04:49] corradocavalli commented on #296
It should be fixed in v107, @mtg1986 please confirm when version will be available

[2017-09-07 04:59] corradocavalli commented on #293
We did a lot of test during latest testing week, code looks ok to me,
Added debug log to test it again next week on Surface Hub

[2017-09-07 05:16] corradocavalli commented on #290
Regression fixed in v107. @mtg1986 please verify and close.

[2017-09-07 05:51] corradocavalli commented on #306
@gsantopaolo
There is a bug when there are two or more users logged **with the same account**.

To reproduce:
1: On Machine 1, Log into CB using your MS account
2: Create a new project
3: App receives a login project message with proper machine machine Id (e.g. 01)
4: With user 1 still logged, on machine 2 login **using the same account** and join the same project.
5: Kill CB on machine 1 (stop VS

[2017-09-07 06:26] corradocavalli commented on #308
This is a longtime pending architectural problem, discussed and always postponed.
At the moment upload of a tile tied to a file (image/pdf/Video...) involves too many moving parts and each one is highly critical for the entire process.

Example
1: Client sends PostNew to inform clients that a tile must be shown with busy message
2: Clients upload the file to Azure
3: Client sends PostUploaded, rem

[2017-09-07 06:39] corradocavalli opened #313 "Server side notification errors must be as descriptive as possible"
The information returned by Notification Hub errors must be as as descriptive as possible, the current information make discovering the reason of the issue very hard.
Since issues also happens quite randomly with actual description is nearly impossible to detect what might be the action that caused the problem.

Please also note that SignalR aren't 100% guaranteed to be received in the same exact

[2017-09-07 09:24] teguria commented on #260
Can't reproduce. Should we test it again next week?

[2017-09-07 09:25] teguria commented on #259
it works now. Closing

[2017-09-07 09:25] #259 closed

[2017-09-07 09:26] teguria commented on #143
This is still happening

[2017-09-07 09:27] teguria commented on #251
It works now. Closing

[2017-09-07 09:27] #251 closed

[2017-09-07 09:28] teguria commented on #223
Works now. closing

[2017-09-07 09:28] #223 closed

[2017-09-07 09:30] teguria commented on #227
works good now. closing

[2017-09-07 09:30] #227 closed

[2017-09-07 09:31] teguria commented on #241
Works now. Closing

[2017-09-07 09:31] #241 closed

[2017-09-07 11:03] corradocavalli commented on #292
I have refactored the loading sequence in v107. @mtg1986 can you verify if problem is solved? (can't reproduce on my machines)

[2017-09-07 11:53] corradocavalli commented on #143
It works on my machines.
Does your machine is able to play wav files? can you try with the sample you have at this link? http://freewavesamples.com/kurzweil-k2000-dual-bass-c1

[2017-09-07 12:06] gsantopaolo commented on #308
Do you want to send tile content on a stream via rest call?
This means that you have to send tile content's via json object trough network. From the solution we have right is it means to go a tent of years back in development, we would need to:
1. create a state machine for chunking tile content (pretty sure you can't send a 10mb picture on on request)
2. handle chunking and encryption both client

[2017-09-07 12:16] corradocavalli commented on #312
Unfortunately can't reproduce it, please make this machine available for testing next week.

[2017-09-07 12:21] corradocavalli commented on #310
I get a totally different project view now w/o any picture. Sorry but can't investigate what's going on if project is totally different
![image](https://user-images.githubusercontent.com/5617938/30163068-d3cfc790-93d7-11e7-96e0-4dcf55269c42.png)

[2017-09-07 12:28] tamarawasser commented on #310
I'll try to replicate as soon as possible.

[2017-09-07 13:00] corradocavalli commented on #309
I double checked: That message is displayed only when SignalR initialization fails (we force application closing because any other action can't be performed) application on resume it initializes Signal R engine and waits up to 5 seconds for HubService status to be "Connected" if after 5 seconds status is not "Connected" that message appears.
As safety guard I've added a small delay between resume

[2017-09-07 14:43] corradocavalli commented on #308
No, I mean something more simple like in this example, I have invoked APIs like this several times in projects I worked in the past.
http://www.c-sharpcorner.com/article/upload-and-save-multipartform-data-in-webapi-2/

[2017-09-07 16:14] corradocavalli commented on #302
Tamara helped me understanding what is the wrong behavior reported.

In this particular project when you "throw" a tile over a library it doesn't get 'eaten up' by the library but instead it just stop above.
The expected use of drag dropping tile into libraries is indeed **not to throw them** but **manually drag them over and release them when frame becomes azure**, the fact that it goes into even

[2017-09-07 16:45] corradocavalli commented on #287
Think this is related to this https://github.com/IBVSoftware/CollaBoard-Feedback/issues/306

[2017-09-07 16:46] #286 closed

[2017-09-07 19:16] gsantopaolo commented on #313
@corradocavalli  hard work to do for the whole service layer.
Please:
1. Verify witch service calls / signalr methods are more relevant for you
2. don't know if i got well you comment on signalr, need to discuss

[2017-09-07 21:48] gsantopaolo commented on #313
Ok, I dig into service code and I believe the most important part you are referring to is the signalr one.
Now first of all let's distinguish something.:
Code running at the moment on signalr was throwing to the client the same exact error i was getting, btw i believe that you issues are generate where no real exception was thrown but when a logic exception was generating it: when, for example you

[2017-09-07 21:55] gsantopaolo commented on #307
@mtg1986  please note that this is something we need to solve during next testing session

[2017-09-07 21:58] gsantopaolo commented on #306
In this particular case having two GP is correct because i was using two pcs with same credential, likewise i do not see the surface hub (JD) that was connected to the same project as well.

About the bug you was talking about when  two or more users logged with the same account.
This is a known issue, for this particular use case, that is going to be solved with a service fabric project that is p

[2017-09-07 22:00] gsantopaolo commented on #305
thx, @mtg1986  please note to test this as well so we can close it

[2017-09-07 22:01] gsantopaolo commented on #301
@mtg1986 you have to show me this

[2017-09-07 22:03] gsantopaolo commented on #302
@corradocavalli let's sit in front of a surface together and look for an optimal solution

[2017-09-07 22:04] gsantopaolo commented on #300
you both are right, let me think about it

[2017-09-07 22:06] gsantopaolo commented on #293
I got this behavior the very first time I tried it and also every single other time.
We have to test again on an hub btw i believe is reproducible

[2017-09-07 22:07] gsantopaolo commented on #288
@mtg1986 can you please confirm this is fixed?

[2017-09-07 22:09] gsantopaolo commented on #278
I saw what @mtg1986 is talking about and definetelly not good.
We need to test and understand if we are doing something wrong or is it a limit of the hardware / operating system / api set

[2017-09-07 22:11] gsantopaolo commented on #254
@mtg1986  Machine ID is definitelly not good. Please find a term that can better fit here thanks

[2017-09-07 22:12] gsantopaolo commented on #300
duplicate with #244

[2017-09-07 22:12] gsantopaolo commented on #244
same of #300

[2017-09-08 04:44] mtg1986 commented on #271
Hi Corrado, if all image viewer are doing this, then I think it is ok if we do it also. Therefore I am closing the issue.

[2017-09-08 04:44] #271 closed

[2017-09-08 04:49] mtg1986 commented on #269
Test is now: Since this is a shared device, don't forget to logout or end session when done.

New Text proposal:
Hey, you are working now with your personal edition of CollaBoard on a Team device. Please make sure to logout at the end of your session, so the next team device user cannot access your projects."

[2017-09-08 04:52] mtg1986 commented on #256
Tested with 1.3.106 on Surface Hub
When I create two or more sticky notes with a certain speed the shadow appears only on the first tab. Then it does not show again, so I do not see in the radial menu how many times i tapped on the "Sticky Note" Icon for example.

[2017-09-08 04:58] corradocavalli commented on #256
@mtg1986 Can you attach a screenshot and highlight the "shadow" you're talking about, I don't understand the issue you're pointing out.
Thanks

[2017-09-08 05:01] mtg1986 commented on #304
Tested on Surface Hub.
-Unregistered
-Closed the app
-Restarted the App

-When you click on Info, you see first the second silde of the tile, where to enter the key. Then you need to swipe right and Machine ID is displayed. I think this behaviour is ok. Therefore i am closing this issue.

[2017-09-08 05:01] #304 closed

[2017-09-08 05:07] corradocavalli commented on #269
@gsantopaolo Confirm that is ok so that i can proceed with the change.

[2017-09-08 05:13] mtg1986 commented on #288
It is not fixed yet. Now I got a Panda:

Repo Sequence:
1.Create project on device one
2.Login to project on device two
3.Change project owernship on device one to device two
4.One device one owernship is succesfully transfered (I see the yellow start above the user Icon of device 2)
5.On device two project closes and CollaBoard asks to reload the project
6.When I try to reload the project on devi

[2017-09-08 05:13] corradocavalli commented on #278
@gsantopaolo With initial implementation it was basically not possible to have more than one ink panel open at the same time, this was the issue raised by Michael, and, BTW, this was the behavior we always had with MS InkToolbar and got unnoticed for month.
New implementation removes the limit and every user can interact with the tool panel independently (see image) so I don't understand what exac

[2017-09-08 05:15] corradocavalli commented on #293
Yes, I will fix it next week.

[2017-09-08 05:17] mtg1986 commented on #288
Doing it the second and third time it worked. So I cannot reproduce anymore.

[2017-09-08 05:19] corradocavalli commented on #288
Can you trying doing the same on different machines?

[2017-09-08 05:21] mtg1986 commented on #288
The behaviour is now like that:

1.Create project on device 1
2.Login to project on device 2
3.Change project ownership from device 1 to 2
4.On device 2 CollaBoard asks to reload the project
5.I reload the project
6.Go to info tile to switch ownership back to device 1
7.User of device 1 is not displayed (he only appears when I reload to project on device 1).

[2017-09-08 05:25] mtg1986 commented on #256
@corradocavalli : Please see here a screenshot where I marked the shadow. It appears when clicking or hovering over the icon.
![screenshot 1 _li](https://user-images.githubusercontent.com/19570958/30197245-e1b62590-9466-11e7-85db-5345e8bf8041.jpg)

[2017-09-08 05:27] corradocavalli commented on #306
You don't see the JD user because the user list is loaded when app, after loading the project, it receives a LoginProjectMessage with machineId that maches the one where project is loading, this basically says: "The server recorded your login into project and you can now safely load the list" we had to use this approach to ensure that when user list is requested it includes also the one currently

[2017-09-08 05:38] corradocavalli commented on #288
Are you using the same user for both machines or different, if same, can you repeat the same sequence using two different account please?
Thanks

[2017-09-08 05:43] mtg1986 commented on #288
I was using two different users.
One was mine and the other Basils one.

[2017-09-08 05:45] mtg1986 opened #314 "Request regarding User List - JD instead of Surface Hub Icon"
Hi all,
during a Demo yesterday I was asked who JD is. I explained that is not JD from Srcubs and that it stands fro Jon Do. I think it would be better if we can switch back to the Surface Hub Icon instead of JD.
Let me know what you think.
Thanks
Michael

[2017-09-08 05:48] corradocavalli commented on #309
If that is the exact message there are no other conditions that makes it appear. Let's try to reproduce it next week anyway.

[2017-09-08 05:52] corradocavalli commented on #314
Where you demoing using Personal or Team mode on Hub?
In Personal Mode those are the initials of the user logged in (if it is a demo user you can try associating a personal image also) and think is correct to identify what user is acting on a specific Hub.

[2017-09-08 05:54] corradocavalli commented on #288
Ok, Thanks I'll investigate.

[2017-09-08 06:08] corradocavalli commented on #313
Yes, i think that errors are mostly related to SignalR messages and they're due to operation inconsistency like you said.
My experience is that **PostLock/Unlock/Updated** are the most frequent cause of this exception and these are the most intensive message interchanged between client and server and my doubt is that inconsistency might come from lost SignalR messages or messages coming in differe

[2017-09-08 07:58] teguria opened #315 "Search Box movement"
v 1.3.106
HP Spectre and Surface Hub

When you want to move the Search Box around, it doesn't move as it should be (it's like a scattered movement instead of a fluid one).

[2017-09-08 08:00] corradocavalli commented on #313
Much better now, thanks.

[2017-09-08 08:04] corradocavalli commented on #315
When does this happens? Do you have a project open, what if you move it after CB has launched? if so, please provide project name/key.
Tried now and is fluid on my machines.

[2017-09-08 10:37] gsantopaolo commented on #313
New signalr services are already on dev.
All signalrmethods now have a description for errors in all cases

About relaxed behavior, we used it in past and they wasn't good, we had lots of sync problem

[2017-09-08 10:41] gsantopaolo commented on #314
Michael is talking team mode on a surface hub (not logged in).
In this case JD appears, I also think is better to revert back on surface hub icon in this case.
BTW, as already discussed such changes **MUST** be discussed before being pushed outside

thanks

[2017-09-08 10:43] gsantopaolo commented on #306
@corradocavalli there is something very wrong in this feature.
Definitelly need to discuss and reenginer it, thanks

[2017-09-08 10:48] gsantopaolo commented on #308
@corradocavalli  to answer your style, No, I don't think this is good.

[2017-09-08 10:53] corradocavalli commented on #299
Fixed in v107.

[2017-09-08 11:53] corradocavalli commented on #314
Let me investigate because JD is totally new to me, agree that in Team mode the Surface icon should be displayed.

[2017-09-08 12:33] mtg1986 opened #316 "C-Scaler Proxy Issue on Surface Hub"
A company is using the C-Scaler Proxy on its Surface Hub. They can access the internet over the browser but they cannot get an internet-connection with CollaBoard.
This could be something that will be solved with Fall-Update of Win10, but we are not sure.

Although this is maybe a Sysadmin task, who would need to figure out how to configure the proxy, I will add requests like that to GitHub to. Le

[2017-09-08 12:54] corradocavalli commented on #316
@mtg1986 No idea what C-Scaler proxy is, but be aware that in order to start CollaBoard must be able to reach www.microsoft.com domain otherwise connection is reported as failed.

[2017-09-08 13:20] corradocavalli commented on #314
Fixed in v 107, please @mtg1986 verify and close if ok.

[2017-09-08 13:38] corradocavalli commented on #313
Message is more descriptive now, be sure that info is also logged into telemetry.

[2017-09-08 13:38] #313 closed

[2017-09-08 13:57] corradocavalli commented on #308
Ok, if you have others ideas let's discuss, this is a weakness we need to fix.

[2017-09-08 15:15] gsantopaolo commented on #300
This is something that we have to improve... maybe by adding some global project settings

[2017-09-08 15:18] corradocavalli commented on #288
@gsantopaolo The problem seems to be that after the switch of ownership from device1 to device2 when i call **GetUsersByProjectAsync** API still returns device1's owner instead of device2 so the list is empty because there are not eligible users on device2.

[2017-09-08 15:29] corradocavalli opened #317 "Evaluation email looks poor"
I have requested an evaluation key and this is the mail I have received:
![image](https://user-images.githubusercontent.com/5617938/30218932-c9bb7e96-94ba-11e7-9895-07a9178d935b.png)

As you see logo is stretched and there's no minimal indication of what is the long sequence of letters/numbers that follows.
May I suggest to add, at least, a "Here's your evaluation key" and two lines of text that t

[2017-09-08 16:01] gsantopaolo commented on #317
Guys, this is a bug.
May I suggest you again to ask to a professional web designer to do that for us?

[2017-09-08 16:25] gsantopaolo commented on #316
@mtg1986 @corradocavalli  in the next development we have a new functionality for being developed that will check only ibv-solutions.com.

At the moment you can tell customer that domains:

- www.microsoft.com port 80
- *.ibv-solutions.com port 443 (https)

needs to be reachable in order for CollaBoard to work

In the near future we will only need *.ibv-solutions.com port 443 (https)  to be reacha

[2017-09-08 16:32] corradocavalli commented on #256
Fixed in v107, please @mtg1986 verify and close it if ok.

[2017-09-10 06:19] mtg1986 commented on #290
Works now as expected. Closing.
Tested v107

[2017-09-10 06:19] #290 closed

[2017-09-10 06:43] mtg1986 commented on #317
@corradocavalli : On what device did you look at your key?
The last eval e-mail I got was in march and looked good.

I would suggest not to send a key to the user (when using other similar apps I never got a key and eval-version or licensing was always done in the background).

![evale-mail](https://user-images.githubusercontent.com/19570958/30246780-de1d99ba-9603-11e7-995a-1cdf27a5c171.PNG)

[2017-09-10 06:46] mtg1986 commented on #299
Tested with v107. Issue is solved.

[2017-09-10 06:46] #299 closed

[2017-09-10 06:55] mtg1986 commented on #280
@corradocavalli : I happens only on my Surface Pro (the newest one, released this spring). When I click on recording the camera seems to be freezed immediately (taking images works fine). And when ending the recording the Panda appears. So we can easily reproduce next week.

It seems to be a CollaBoard specific problem as recording a video in OneNote works.
CollaBoard is allowed to use the camera

[2017-09-10 07:03] mtg1986 commented on #316
@gsantopaolo : Please make sure to take ibvsolutions.com as we will shut down ibv-soltuions.com in the next weeks.
Thanks
Michael

[2017-09-10 09:48] corradocavalli commented on #280
That's enough for now, let's check it next week.
Thanks

On 10 Sep 2017, at 08:55, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

@corradocavalli<https://github.com/corradocavalli> : I happens only on my Surface Pro (the newest one, released this spring). When I click on recording the camera seems to be freezed immediately (taking images works fine). And when end

[2017-09-10 09:50] corradocavalli commented on #316
Let's be sure that domain will be 100% reachable otherwise all Collaboard installations won't launch :-)

On 10 Sep 2017, at 09:03, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

@gsantopaolo<https://github.com/gsantopaolo> : Please make sure to take ibvsolutions.com<http://ibvsolutions.com> as we will shut down ibv-soltuions.com<http://ibv-soltuions.com> in the

[2017-09-10 09:52] corradocavalli commented on #317
Screenshot comes from my iPhone, but it looks the same also on iPad.

On 10 Sep 2017, at 08:43, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

@corradocavalli<https://github.com/corradocavalli> : On what device did you look at your key?
The last eval e-mail I got was in march and looked good.

I would suggest not to send a key to the user (when using other simila

[2017-09-10 18:39] mtg1986 commented on #256
Tested with v107 and shadow does now appear on every click or tap. Thanks and closing.

[2017-09-10 18:39] #256 closed

[2017-09-11 17:08] corradocavalli commented on #312
It happens with v 106 (from the store) but no longer with v 107, so it seems fixed. Try when new build will be out and close is ok.
Thanks.

[2017-09-12 07:07] teguria commented on #315
@corradocavalli  It seems it happens when: the project is created. Then you open the Search Box and then it flickers or you cannot even move it unless you touch another tile (then it works again)

[2017-09-12 07:32] teguria opened #318 "1.1 Testing spash screen - Video"
ThinkPad
v. 1.108
9.27

(No touch screen). The video in full screen doesn't show the bar on the bottom.  Trying to reproduce.
It seems it's related to the windows toolbar set as "non fixed". It also happens with all the videos you reproduce in full screen on CB

[2017-09-12 07:34] teguria opened #319 "Resizing Slash Screen"
HP, ThinkPad, Asus
v. 1.108
If you resize the splash screen, the icons and text mess up. This has been tested on multiple devices with the same outcome.

[2017-09-12 07:46] teguria opened #320 "voice commands for loading a project"
v. 1.3.108
HP X360
When you spell the project key, it makes 2 things:
put everything in capital letters
put spaces between letters and numbers

Tested on 2 devices, same outcome. Tested on the german version, it happens the same thing

[2017-09-12 07:51] teguria opened #321 "Issue when using voice for the Project Key in German"
v. 1.3.108
Asus UX390UAK

German version
Tried to use voice command to spell the project key in german. Clicked on the microphone icon several times and that he got this error message (in attach). Non-reproducible
![fehlercode collaboad](https://user-images.githubusercontent.com/19929395/30314090-e6e894e4-979f-11e7-9368-40bf0e63fe6a.png)

[2017-09-12 07:55] teguria opened #322 "Voice commands in Italian - Loading project"
v 1.3.108
HP Spectre

Tested the voice command with CB in Italian. Spelled the project code in Italian and, instead of putting numbers, it recognizes phrases in english.

[2017-09-12 07:56] corradocavalli commented on #322
Did you restart Collaboard after Change?

Da: alead<mailto:notifications@github.com>
Inviato: Tuesday, September 12, 2017 9:55 AM
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Oggetto: [IBVSoftware/CollaBoard-Feedback] Voice commands in Italian - Loading project (#322)

v 1.3.108
HP Spectre

Tested the voice c

[2017-09-12 08:01] teguria opened #323 "2 voice commands at the same time"
v 1.3.108
multiple devices (no Hub)

2 laptop/people said "CollaBoard - Close Project"
then Laptop A got the message window if you want to close the project
At that time, another teamplayer said "CollaBoard - Info" close to him on Laptop B
- CollaBoard, on Laptop A, crashed and it became blurred (assume it tried to open Info below the same window opened)
![collaboard blurry](https://user-images.gi

[2017-09-12 08:02] teguria commented on #323
Trying to reproduce

[2017-09-12 08:09] teguria opened #324 "Hub only - Info Menu"
v 1.3.106

Click (or use voice commands) on Info
- Click on on it multiple times
- You get multiple Info windows (in attach)
![wp_20170912_10_06_16_pro](https://user-images.githubusercontent.com/19929395/30314899-770f5d8a-97a2-11e7-9ae3-b3982abb7b41.jpg)

[2017-09-12 08:11] corradocavalli commented on #324
This is by design, please Close it.

Inviato da Posta<https://go.microsoft.com/fwlink/?LinkId=550986> per Windows 10

Da: alead<mailto:notifications@github.com>
Inviato: Tuesday, September 12, 2017 10:09 AM
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Oggetto: [IBVSoftware/CollaBoard-Feedback] Hub only - Info

[2017-09-12 08:16] teguria opened #325 "Read-Only: message needed"
When you are in read-only, all the people in the project can still uploading stuff and work on the same project. Of course the others won't be able to see anything but all the teamplayers would assume that the project is still up and running.
Suggestion: a message pop-up, as long as you upload a tile, to let you know that the project has been set to read-only

[2017-09-12 08:17] teguria opened #326 "Suggestion: Yes and No"
When you use voice commands, you would expect to say "Yes" or "No" if you want to close a window.
Suggestion: add the "Yes" and "No" voice recognition

[2017-09-12 08:23] teguria opened #327 "Read-Only Project"
For every user, anyone can create stuff.
But the behaviour of all the tiles differs from one to another. For example: you can record a video and you can take a screenshot out of it. You can edit a sticky note but you can't save. You cannot save a map but you can search. Etcerera

[2017-09-12 08:33] teguria opened #328 "Read-only project and content"
v 108
I set the project to read-only
- people started to put stuff into the project
- then I set it back to normal
- this is what happened (in attach) in 2 laptops

![10](https://user-images.githubusercontent.com/19929395/30315919-b46111c6-97a5-11e7-9125-d30ab5a9a05e.JPG)
![collaboard error](https://user-images.githubusercontent.com/19929395/30315917-b45af106-97a5-11e7-8405-efde3fbb8c05.png)

[2017-09-12 08:37] teguria commented on #328
I set it back to normal (non-ready only). I uploaded some tiles and I got an error message (below)
![untitled](https://user-images.githubusercontent.com/19929395/30316106-6e30957c-97a6-11e7-8374-3ce86ea27139.png)

[2017-09-12 08:59] teguria opened #329 "Giving ownership from someone to someone to someone"
v. 108
- I set the project to read-only
- I gave ownership to another person
- the person got a message that he was the owner
- he clicked on Yes
- He wasn't kicked out of the project, instead he got the message attached
![collaboard error](https://user-images.githubusercontent.com/19929395/30317072-5a65fec6-97a9-11e7-8e5a-b1d42c442f09.png)

[2017-09-12 09:07] corradocavalli commented on #328
@gsantopaolo It happens because when message with MessageType.ProjectUpdated is sent it contains a null ProjectKey field (projectCode is ok) and this causes all subsequents lookup to fail.

[2017-09-12 09:10] corradocavalli commented on #329
This might be a conseguence of #328, please try again without changing project to read-only. Also note that there's a pending bug #288 related to change of ownership.

[2017-09-12 09:13] corradocavalli commented on #325
This was a bug, when a project is in read-only no one  can upload stuff, behavior has fixed in v109.

[2017-09-12 09:29] corradocavalli commented on #329
Tested agains and it works, closing.

[2017-09-12 09:30] teguria opened #330 "2 issues when creating a project"
v 108
HP Spectre
11.25
- Create a new project on HP
- Use the QR code on the Hub to load it
- Back to HP, reduce everything to the taskbar (clicked on the far right of it)
- Drag a PDF from the deskop, paste into CollaBoard
- 2 issues happened: the PDF was loading for all the other machines. I couldn't see the PDF on mine
The "new project" window behaviour was weird: I tried to move it with touch

[2017-09-12 09:31] corradocavalli commented on #319
What do you mean with messed up? can you provide a screenshot?

[2017-09-12 09:36] tamarawasser opened #331 "Feature Request: Your Library is full"
When I have a Grid Library who's full of Tiles and I try to pull another Tile into this Grid Library, the Tile lies on the Grid Library. It would nice to receive a message here, something like: This Grid Library is full, what about creating a new one?

[2017-09-12 09:37] teguria commented on #331
adding the label

[2017-09-12 09:39] teguria opened #332 "No kicking out after getting ownership"
v 108
ThinkPad and Asus

Project Code: 9112
Project Key: qnma0
Project description: owner

P. is in demo mode.
- M. gave P. ownership
- The pop-up message came up
- The Demo version pop-up came up
- Waited 30 seconds, then close it
- Ok pop-up was gone so basically P got the ownership automatically without being kicked out or accepting the ownership

[2017-09-12 09:44] teguria opened #333 "Uploading a picture while closing a project"
v. 108
HP Spectre (T.)

- T. wanted to close the project but she still had a PDF uploading
- She closed the project and got the following error message
![picture upload](https://user-images.githubusercontent.com/19929395/30319251-ac76271c-97af-11e7-8b30-7909a4a171fb.JPG)

[2017-09-12 09:54] teguria opened #334 "Dragging a sticky showed a black square"
v 108
HP Spectre only

- I dragged a sticky note from a library into the canvas
- I got the following black empty square over the edit button
- After a short while it disappeared
![untitled](https://user-images.githubusercontent.com/19929395/30319792-1af58632-97b1-11e7-96d1-0b4d6e5f9401.png)

[2017-09-12 10:05] teguria opened #335 "Dragging from desktop into CollaBoard"
v 108
HP Spectre

- Project already opened
- Click on the far right part of the taskbar to minimize everything
- Select a PDF
- Drag that PDF from desktop into CollaBoard
- CB starts to sync project while uploading the PDF
- The PDF is not uploaded on my machine but it's uploaded (not entirely) on other machines
- Tried a second time and got the PDF white-blank

Reason seems to be the syncing as l

[2017-09-12 10:16] teguria opened #336 "Demo version and licensing"
v 108
Lenovo Thinkpad

- Lenovo is in demo mode
- After a while, the Demo Version Popup came up
- Now, P. user can, by using the mousewheel, change the window from screen1, screen2, screen3 without using the Buttons or fill in stuff.
- The sequence
![demoversion3](https://user-images.githubusercontent.com/19929395/30320700-b94c1dbc-97b3-11e7-9966-6020e3f9b8e4.PNG)
![demoversion1](https://user-imag

[2017-09-12 10:25] teguria commented on #318
Another behavior:
- Open Help
- Drag a video into the canvas
- start the video and make it full screen
- Watch half of the video
- Click on the round "mover" and move it to the beginning
- Then he moved into the video while still keeping the left button on the mouse
- The round "mover" was still stuck on the position he picked beforehand
- After that, the video ws supposed to still playing but it

[2017-09-12 11:14] corradocavalli commented on #336
Fixed in v109.

[2017-09-12 11:15] corradocavalli commented on #332
Fixed in v109

[2017-09-12 12:02] teguria opened #337 "Video quality on Help"
v 1.308
All devices

It seems that the Video Quality in CollaBoard is not adaptive and it looks worse than on YouTube.
I think you can see the difference clearly on the attached images. It seems the first one is too sharpen.
![videocomparison](https://user-images.githubusercontent.com/19929395/30324908-fd8eb43a-97c2-11e7-8968-8d0ac606cfe3.png)

[2017-09-12 12:08] teguria commented on #322
Yes I did

[2017-09-12 12:22] teguria opened #338 "Project confirmation message window behaves differently"
v 1.308

Steps to reproduce:
- Open CB
- Create a new project
- You get the confirmation message that the project has been created
- Then you can move the window as you can see in the video

[CollaBoard 12_09_2017 14_17_37.zip](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1295891/CollaBoard.12_09_2017.14_17_37.zip)

[2017-09-12 12:31] teguria commented on #143
this works now (tested on several machines). Closing

[2017-09-12 12:31] #143 closed

[2017-09-12 12:35] teguria commented on #185
We just tested it on a Hub:
created sticky notes
created a Library
tried to name the library using the voice command
and got a Panda (it's not you, it's us).
Trying to reproduce

[2017-09-12 12:46] teguria opened #339 "Search box doesn't pop up"
v 1.3.108
All devices (not the Hub)

Project Code: 9130
Project Key: a7rbc
Project description: CollaBo

- We were working on a library (for a different bug)
- Then we wanted to test the Search functionality
- We used voice command by saying a similar word to CollaBoard and we got confirmation messages from different laptops
- Then we tried to open the Search box
- This didn't work on 3 devices (o

[2017-09-12 12:50] teguria commented on #339
So it seems the Search box appears but it appears on another part of the canvas. Normally, it should fade into the place where you used the radial menu

[2017-09-12 12:51] teguria commented on #315
closing for now

[2017-09-12 12:51] #315 closed

[2017-09-12 13:19] corradocavalli commented on #310
9141/sn6u6

[2017-09-12 13:22] teguria commented on #310
the new project misses ink on light blue sticky note (Level 3) - Ink is Test 6

[2017-09-12 13:37] #305 closed

[2017-09-12 13:37] corradocavalli commented on #293
Fixed in v109.

[2017-09-12 13:37] #293 closed

[2017-09-12 13:38] #296 closed

[2017-09-12 13:39] #312 closed

[2017-09-12 14:08] teguria opened #340 "Project message confirmation creation missing"
v 1.3.108
Surface Pro 3

When you create a new project, M. didn't get the confirmation window containing all the information about the newly created project.
This happened only twice, we tried to reproduce but we couldn't

[2017-09-12 14:10] #307 closed

[2017-09-12 14:21] tamarawasser opened #341 "Layout Cycle detected. Layout could not complete."
12th of September 2017
HP Spectre
Project: 9158
Key: gxltz

- create a new project
- open Search
- search for Collaboard (Video)
- add the Video on the Canvas
- click on play
- open camera
- start recording

when recording time of the camera is over, this message appears
![unbenannt](https://user-images.githubusercontent.com/25382402/30330823-6ad6e7f2-97d6-11e7-99df-8225cd2d3bf8.JPG)

CollaBoard i

[2017-09-12 14:24] tamarawasser opened #342 "Enhancement: Take out a picture of a Video"
When I record a Video by using the Camera, I'm able to take a picture out of it.
When I play a uploaded Video, I'm not able to take a picture out of it.

[2017-09-12 14:26] teguria opened #343 "Tile full screen - 2 people working on it at the same time"
v. 1.3.108
ThinkPad, HP Spectre and Asus
16.22
Reproducible bug

Open a sticky note
Have 2 people working on it. Person A clicks on the border of the sticky note, Person B tries to make it full screen. The outcome is the one in the attached picture (sticky note with no borders, menu belongs to the full screen mode but it's not). Only Person A (the one who tries to make it full screen) gets this be

[2017-09-12 15:04] #260 closed

[2017-09-12 15:11] #324 closed

[2017-09-12 15:12] corradocavalli commented on #338
Fixed in v109

[2017-09-12 15:33] corradocavalli commented on #322
Recognition of terms it depends on Cortana settings, that's why you don't see Italian terms but the sounding similar equivalent in English.

[2017-09-12 15:35] corradocavalli commented on #330
Probable duplicated of issue #335.

[2017-09-12 15:38] gsantopaolo commented on #329
do not understand why closed. was it fixed?

[2017-09-12 16:21] corradocavalli commented on #329
Yes, we tested it and it was fixed, issue was caused because Ale changed the project to read-only and it introduced another bug that we have to fix.

Inviato da Posta<https://go.microsoft.com/fwlink/?LinkId=550986> per Windows 10

Da: Gian Paolo Santopaolo<mailto:notifications@github.com>
Inviato: martedì 12 settembre 2017 17:51
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply

[2017-09-12 16:29] #329 closed

[2017-09-12 16:36] corradocavalli commented on #314
Checked on Hub: When a user now uses Team Edition mode is now displayed using Surface Hub icon as requested.

[2017-09-12 16:36] #314 closed

[2017-09-13 05:49] teguria commented on #319
in attach
![untitled](https://user-images.githubusercontent.com/19929395/30361367-ead0d848-9856-11e7-83f2-b77c5838d6a5.png)

[2017-09-13 05:55] teguria commented on #327
This is probably related to [https://github.com/IBVSoftware/CollaBoard-Feedback/issues/325](url)

[2017-09-13 05:58] teguria commented on #322
Is there anything we can do about it? I think most people would expect that, as long as you change CB language, then you can use the voice commands everywhere in CB, including inputting Key and code.

[2017-09-13 09:08] teguria opened #344 "Tile full screen made the whole content disappeared"
v 106
Surface Hub 84

- I was testing the borders
- I was editing a sticky note then
- Changed the color and the size
- Saved
- Then made it full screen
- Everything disappeared (including the mini-map)

Trying to reproduce

[2017-09-13 09:17] teguria opened #345 "Out-of-Sync device"
v 106
Surface Hub 84
Device goes out of sync when connection is slow (all the other devices are in sync, including the ones who are on a different network)

[2017-09-13 09:39] teguria opened #346 "Changing ownership without closing project"
v 108
When you change ownership from A to B, it would be nice for B to still be in the project and not being pushed out from the project

[2017-09-13 09:53] teguria opened #347 "Change background color toolbar"
I think it would be better if, when you have a new tile and you need to pick a new background color, as long as you pick a color the toolbar automatically disappears.

[2017-09-13 10:04] teguria opened #348 "Double tab on arrow changes color"
v 106 and 108
2 Hubs

Project Code: 9189
Project Key: 5m60y
Project description: Test

- Create a sticky note
- Upload a couple of more tiles
- Add connecting tiles and connect them all
- Double tab (or single tap) on the arrow will cause it to change color
- Also, all the others in the project won't see the color change

[2017-09-13 10:09] teguria opened #349 "Connecting tile toolbar on SfHub 84"
v 1.3.106
84 Hub

Project Code: 9189
Project Key: 5m60y
Project description: Test

- Have 2 people on the Hub
- One tap and hold on a connecting tile, the other do the same on another connecting tile almost at the same time
- Depending on where you are positioned in the canvas, you get the menu somehow broken (in attach)
![tile](https://user-images.githubusercontent.com/19929395/30371927-633d541c-

[2017-09-13 10:16] teguria opened #350 "Notification Hub error while Editing tiles"
v 108
HP Spectre
12.05 p.m.

Project Code: 9189
Project Key: 5m60y
Project description: Test

- double click on the picture with the river
- tap and hold the blue point
- pull it to the Video on the right side (Tiles were connected)
- tap and holt the arrow to get in edit mode
- enter edit mode
- choose red
- choose value 20
- choose route connection than the message appears

Tried again, unable t

[2017-09-13 10:17] teguria commented on #350
Tamara had this issue, I'll add her as a member

[2017-09-13 10:24] teguria opened #351 "Arrow broken while moving it from one side to another of a tile"
v 106
Hub 84 (and all the other devices)

- Create 2 tiles
- Connect them with the connecting tile
- Move the arrow the other way around (from left to right for example)
- you get a broken arrow (in attach)
![arrow broken](https://user-images.githubusercontent.com/19929395/30372520-6a8a6a46-987e-11e7-89af-50b607d4d18c.jpg)

[2017-09-13 13:58] corradocavalli commented on #328
Fixed on v 109.

[2017-09-13 14:58] corradocavalli commented on #288
Fixed in v109.

[2017-09-13 14:58] #288 closed

[2017-09-13 15:20] corradocavalli commented on #306
Fixed in v109.

[2017-09-13 15:22] corradocavalli commented on #346
It has been planned as future feature.

[2017-09-13 15:22] #346 closed

[2017-09-14 04:52] corradocavalli commented on #319
This screen is going to be totally redesigned, so we won't invest on it at the moment.

On 13 Sep 2017, at 07:49, alead <notifications@github.com<mailto:notifications@github.com>> wrote:

in attach
[untitled]<https://user-images.githubusercontent.com/19929395/30361367-ead0d848-9856-11e7-83f2-b77c5838d6a5.png>

—
You are receiving this because you commented.
Reply to this email directly, view it on

[2017-09-14 04:52] corradocavalli commented on #322
It should be possible, I will investigate it.

On 13 Sep 2017, at 07:58, alead <notifications@github.com<mailto:notifications@github.com>> wrote:

Is there anything we can do about it? I think most people would expect that, as long as you change CB language, then you can use the voice commands everywhere in CB, including inputting Key and code.

—
You are receiving this because you commented.
Repl

[2017-09-14 07:58] tamarawasser opened #352 "Sticky Note Full Screen - Content not full visible"
Surface Hub
Project Code: 8964
Project Key: bu3qu

I created this project on the Surface Hub. Made the Sticky Note Fullscreen and started Inking.
![impact hub 1](https://user-images.githubusercontent.com/25382402/30418408-24c731aa-9933-11e7-9717-879122d8b912.jpg)

Saved and closed the Project.

HP Spectre
I opened the Project on my Device. Made the Sticky Note I inked on Full Screen. On my device

[2017-09-14 08:04] corradocavalli commented on #352
Hi Tamara,
This is by design: The sticky note does not resize its content so when you make it full screen on Hub, since it has a greater resolution than HP Spectre, you're indeed acting on a 'larger' tile, that's why you see more content compared to doing the same on HP machine.

[2017-09-14 08:07] corradocavalli commented on #351
This is issue is by design at the moment: The actual implementation doesn't handle all tile positioning like the one in your scenario.

[2017-09-14 08:08] corradocavalli commented on #350
We have investigated yesterday afternoon in the telemetry and spotted what could be the cause of the issue, it should (hopefully) fixed in v109.

[2017-09-14 08:09] tamarawasser commented on #352
Okay, so it's more a feature request than an issue? I can make the Sticky Note bigger on my HP, than I'm able to see the content. But the other way, resize its content, would be more nice.

[2017-09-14 08:10] corradocavalli commented on #345
We discovered the cause of general out of sync issues, unfortunately is out of our radar and we're now trying to understand how we can fix it.

[2017-09-14 08:12] corradocavalli commented on #352
Close this issue and open a new one labeled "Feature request" with your "nice to have" request :-)

[2017-09-14 14:47] gsantopaolo opened #353 "Bug when drop-drag tile with connection on a container"
To reproduce:
1. create some sticky notes
2. create a grid library
3. connect one or more of the sticky notes to the grid library
4. drop on or more of the connected to the grid library sticky note into the grid library where they are connected
5. drag out of the grid library one or more of the stickys note previously added
6. notice the the sticky note(s) does not have any connecting line
7. clos

[2017-09-14 17:23] corradocavalli commented on #353
Fixed in v 109

[2017-09-15 05:28] corradocavalli commented on #349
Fixed in v109

[2017-09-15 05:35] corradocavalli commented on #335
Fixed in v109, please @teguria verify it (since you know what is the exact sequence) and close it if ok.

[2017-09-15 05:39] corradocavalli commented on #339
It might depend on issue #384 can you please test again with build 109? Thanks

[2017-09-15 06:11] corradocavalli commented on #348
Fixed in v109.

[2017-09-15 07:23] corradocavalli commented on #347
Fixed in v109

[2017-09-15 08:51] corradocavalli commented on #320
Have you tried saying something like "eleventwentyfour" to load project 1124, recognizer cannot discriminate between "1" and "one" when you say 'one'

[2017-09-15 08:52] corradocavalli commented on #333
Fixed in v109, please test it.

[2017-09-17 17:37] gsantopaolo opened #354 "CollaBoard Version verified does not work as expected"
If on the server and higher version is configured than the one on the client.
At the moment noting happens until i try to load a project or create a new one
If i try to load a project i got a very bad behavior, service returns the correct error code but in the panel i got this
![image](https://user-images.githubusercontent.com/9937149/30523279-04527b06-9bdf-11e7-9c8f-d6aafa94476a.png)
Not really t

[2017-09-17 17:41] gsantopaolo opened #355 "Verify license happens very late"
Added a break point to verifylicense proxy call
Started collabaord, loaded a project after a while i got the verify license method invoked.... this seems wrong...  @corradocavalli  can you explain?

[2017-09-17 17:44] gsantopaolo commented on #353
It doesn't seem fixed! tested with latest bits i've now 17/09/207 19.44

[2017-09-17 20:02] corradocavalli commented on #353
Tested again now, the fix refers to the bug mentioned in the bug, connections are removed when you drag into container and no longer recreated when the project is loaded properly recreating the same status as when the project was closed.
The behavior you mentioned should be considered as enhancement and not a bug.

[2017-09-17 20:08] corradocavalli commented on #355
You were probably using a build that has IgnoreExpiredLicense #define enabled, tried now and verify license is invoked once project is loaded.
FYI: License check is never disabled, no matter what the status of define is, in release builds.

[2017-09-17 20:40] corradocavalli commented on #354
At the beginning load project was possible only with key and code and that is the only time i saw the "outdated message" we never invoked any sort of checking at startup so behavior hasn't changed, it always been like this.
Unclear message on project lists has been fixed in v 111.
Regarding version checking at startup, I need to know what is the API to invoke in order to implement it.

[2017-09-18 09:19] mtg1986 commented on #292
Tested with 1.3.110 on Surface Pro and Desktop PC. Is working now, therefore I am closing this bug.

[2017-09-18 09:19] #292 closed

[2017-09-18 12:19] gsantopaolo commented on #353
@corradocavalli  This is not an enhancement  you are creating ghost rows on database.
Please fix it

[2017-09-18 18:39] teguria opened #356 "Strange behaviour - 84 - Tile unable to go upper"
Surface Hub 84
v. 106

Code: 9257
Key: odyk2

I was trying CB on a 84 Inch.
No pinch to zoom.
I created a new project
Selected "Business Model Canvas" from the templates"
Then I noticed this strange behaviour like I was unable to go further on top of the canvas
When pinched to zoom, I was able to

I'll see if I can reproduce here on the 84 inches
(see link to video)

Link to video: https://1drv.ms

[2017-09-19 08:11] teguria opened #357 "Opened a Project Template - Hub 84"
v 110
Licensed version
Opened a project Template (Business Model Canvas)
Working with connecting tiles
Got a Panda
![wp_20170919_08_45_38_pro](https://user-images.githubusercontent.com/19929395/30582103-6c5decda-9d1a-11e7-866f-874ea45319c4.jpg)

[2017-09-19 08:12] teguria opened #358 "Created a new project template - 84"
v 110
Created a new project template (Business Model Canvas) on the 84 Hub
As soon as I opened it, the arrow that was previously created from an older project was still there (in attach)
![wp_20170919_08_47_11_pro](https://user-images.githubusercontent.com/19929395/30582169-a78552b2-9d1a-11e7-9f5f-b748556e803a.jpg)
![Uploading WP_20170919_08_46_16_Pro.jpg…]()

[2017-09-19 08:18] teguria opened #359 "Connecting Tiles on 84 Hub - Panda"
v 110
Created a new project template (Biz Model Canvas)
Started to play around with connecting tiles, including sticky notes and videos
At some point I got a Panda (in attach)
![wp_20170919_08_52_46_pro](https://user-images.githubusercontent.com/19929395/30582292-160b0150-9d1b-11e7-9433-9aa39693af48.jpg)
![wp_20170919_08_52_46_pro](https://user-images.githubusercontent.com/19929395/30582392-6bf316

[2017-09-19 09:41] mtg1986 opened #360 "Feature Request: Taking Screenshot out of Video"
I a previos version we were able to take screenshots out of video. Can we re-implement that feature as well. May be also for the Youtube videos so people can collaborate on single scenes of a video.

[2017-09-19 09:48] corradocavalli commented on #360
Is not technically possible to have that feature on YouTube video since they’re streamed and not loaded locally as others, feature is still available for all non-YouTube video.

Da: Michael Görög<mailto:notifications@github.com>
Inviato: martedì 19 settembre 2017 11:41
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.

[2017-09-19 11:54] mtg1986 commented on #360
Hi Corrado,
I understand that with Youtube. But also when I upload a video from my PC or record a video on the Hub the button to take a screenshot is not there anymore.

![image](https://user-images.githubusercontent.com/19570958/30591174-06def944-9d42-11e7-9dab-21e7140624c3.png)

[2017-09-19 15:09] gsantopaolo commented on #356
I got the same on an 84'...

[2017-09-19 15:10] gsantopaolo opened #361 "Cannot create CanvasImageSource sized 17500 x 10500; MaximumBitmapSizeInPixels for this device is 16384."
Dev environment
ProjectId":"2625","ProjectKey":"92ufd",

Cannot create CanvasImageSource sized 17500 x 10500; MaximumBitmapSizeInPixels for this device is 16384.

@corradocavalli  please check bugs after we finish the actual new feature sprint

[2017-09-19 15:13] gsantopaolo commented on #360
this needs to be possible.
this is a feature also described in the new collaboard fds.
If anything else is possible then take a screenshot of the whole canvas and cut the video part according with tile coordinate and rotation

[2017-09-19 18:16] teguria commented on #356
I tried this morning to do the same thing, twice, but the problem is that I couldn't reproduce...

[2017-09-19 18:17] teguria commented on #348
Still happening on v 110 (tested yesterday on 2 Hubs - 55 and 84)

[2017-09-20 09:55] mtg1986 opened #362 "Panda on Hub 55'' (not reproducable)"
We got a Panda on an 55'' Hub. Last action was tapping in the radial menu.

Time: 11:50, Date 20.09.2017
Project Code: 9322
Project Key: tvyra
Project description:  New Drink

Device ID: 3c6bc92f-295c-0116-88d7-da0757e09fef

[2017-09-20 11:51] mtg1986 opened #363 "Two Project Admins in one Project"
We Need to Test this and try to reproduce.

![multiadmins](https://user-images.githubusercontent.com/19570958/30642364-da8dbd34-9e0a-11e7-8c7c-7642c5b4616e.PNG)

[2017-09-21 11:46] tamarawasser opened #364 "Black Screen and not deletable Inking on Sticky Note"
21st of September / 13:30
Surface Hub

Create a new project (9357/8q98e)
Create a Sticky Note - start inking with my right hand in black (still stay on the Sticky Note with the pen, never take it away).
At the same time with my left: Open radial menu, open Search, tap into the text bar – Screen becomes black for around one second - inking on the Sticky Note stops - Radial Menu disappears - Search

[2017-09-22 04:53] corradocavalli commented on #348
Are you sure that connection doesn't get selected instead (it turns colored magenta) that's the behavior I see on my Surface.

On 19 Sep 2017, at 20:17, alead <notifications@github.com<mailto:notifications@github.com>> wrote:

Still happening on v 110 (tested yesterday on 2 Hubs - 55 and 84)

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://gi

[2017-09-26 08:41] teguria opened #365 "Inking everywhere in the Search Box"
v 110
In attach the image that shows a behavior
![img_20170921_152859](https://user-images.githubusercontent.com/19929395/30850893-48a2560e-a2a7-11e7-9614-d3480f12f167.jpg)
 that, in my opinion, it shouldn't happen

[2017-09-27 11:22] gsantopaolo opened #366 "When on a project activate airplane mode and deactivate"
to investigate if the process, When on a project activate airplane mode and deactivate, has something wrong

![img_27092017_130352_0](https://user-images.githubusercontent.com/9937149/30910887-d7978ad4-a386-11e7-92d5-4662dc08219a.png)

[2017-10-02 09:52] mtg1986 opened #367 "Ink - Caligraphic to not Caligrapic"
When I create a new sticky note and ink on it then ink (the first time) seems to be a caligraphic one.
When I switch Color, then Ink gets "normal" ink.
Please have a look at the gif, it should make clear that there are two different types of ink on the sticky note.
![ink_caligraphic](https://user-images.githubusercontent.com/19570958/31072548-aa72ee96-a768-11e7-9990-013fda6a0153.gif)

[2017-10-02 10:22] mtg1986 opened #368 "Delete Ink - After loading a project"
When I delete ink after loading a project, everything is deleted and not only one stroke. Please have a look at the Gif. It should explain.
If this is happening an  all ink is erased with one click, an undo option would be great.
![delete ink](https://user-images.githubusercontent.com/19570958/31073492-615f67a8-a76c-11e7-8edd-41adcc88239b.gif)
 it.

[2017-10-03 11:24] mtg1986 opened #369 "Border on 84'' Inch Surface Hub"
1.Create project on Surface pro and fill canvas with content
2.Open Project on Surface Hub 84''
3.There is a huge boarder and I cannot work on the whole screen.

->Have a look at the image. You see in the minimap that tiles are on the boarder, while on the canvas on the hub they are not.
![issueon84device](https://user-images.githubusercontent.com/19570958/31122928-236cf35c-a83e-11e7-8122-a0587b19

[2017-10-03 12:05] corradocavalli commented on #369
What happen if you resize the canvas?

On 3 Oct 2017, at 13:24, Michael Görög <notifications@github.com<mailto:notifications@github.com>> wrote:

1.Create project on Surface pro and fill canvas with content
2.Open Project on Surface Hub 84''
3.There is a huge boarder and I cannot work on the whole screen.

->Have a look at the image. You see in the minimap that tiles are on the boarder, while on t

[2017-10-03 12:07] mtg1986 commented on #369
Nothing, the border is still there. The canvas seems to be to small for the screen.

[2017-10-12 13:43] mtg1986 opened #370 "Got a Panda - Not Reproducable"
Select Multiple Colors in the ink radial
Project:
-2718
-vxmbo
device: HP Spectre
Time: 15:41
Version: 1.1.3.116

[2017-10-12 13:55] mtg1986 opened #371 "Got a Panda - Not Reproducable"
15:53
Key:2719
Code: t3ap0

Multiple devices connected to the project. Inking and erasing at the same time.

[2017-10-12 13:58] mtg1986 opened #372 "Team Edition on personal device"
In the starscreen on a personal device we can now choose from the splash screen "Team edition".

When we do that people are shown with "Surface Hub" user Icon when loogged in.

There seems to be an issue with team edition on personal device.

[2017-10-12 14:00] mtg1986 commented on #372
When we log-in on a persoanl device with "personal edition" then there is the info message
"This is a shared device, please make sure to log out at the end of your session..."

[2017-10-12 14:02] mtg1986 opened #373 "Counter of Demo Version - Counters backwards (with Panda)"
-Logged out
-Log-In as personal user with MS Account
-Home Screen of CB
-Load Project
-Join  a project (2721)
-The project did not load and then there was the blocker.
-Then we wait until 0, then it goes back to -7
-Wait again until 0 -->Panda appears

Version: 1.1.3.116

![demo version](https://user-images.githubusercontent.com/19570958/31500077-ce33cafc-af66-11e7-94d8-3de56168b359.JPG)

[2017-10-12 14:28] mtg1986 opened #374 "Ink gets invisible when inking with two pens at the same time"
Reproducable, but seems to happen randomly

-When inking with two pens at the same time on the canvas, sometimes Ink gets invisible, but does not dissappear

I sent you a Link with a video.

[2017-10-12 14:31] teguria opened #375 "Inking on the same spot causes Pandas"
116
pattern found, no need to have code and key

- Have at least 2 people on the same project (with their devices, no Hubs)
- Person A select its colour and pen type
- Person B select its color and pen type
- Person A and B ink on the same exact spot
- At some point, they both get a Panda "There's seem to be a problem..."

[2017-10-12 14:38] teguria opened #376 "Demo version window on the Hub"
v .116
SfHub

When you get the demo version on the Hub, you get the 5 seconds time to wait and then it should disappear.
But it happened, on the Hub, that I got the demo version waiting time and then it appeared again for another 5 seconds.
Another time, the waiting time was 5 seconds, then I got the message for 5 seconds and then the same message again for 5 seconds (so a total of 3 times)

[2017-10-23 13:56] teguria opened #377 "Access Denied error message"
v 1.118
Surface Book
Code: 2760
Key: uzqqu

I used the snipping tool to copy an image, CB was in backgroung
As long as I got back to CB, I got the error message (in attach)
![2017-10-23](https://user-images.githubusercontent.com/19929395/31893020-b5a11452-b80a-11e7-8f1a-19eee8a202f7.png)

[2017-10-23 14:00] teguria opened #378 "2 people on the Hub the colors mix"
v 1.118
Hub
Key: 2760
Code: uzqqu

2 people on the Hub using the QAT.
the 2 were inking at the same time in different places of the canvas.
Probably when they tap at the same time and release

[2017-10-23 14:04] teguria commented on #377
can confirm this happens all the time as long as I try to access the clipboard

[2017-10-23 14:13] teguria opened #379 "When trying to ink on the same spot"
v 118
Surface Book and Surface Hub

3 people inking at the same time (2 on the Hub and 1 on the Book), at some point we all got the same error message (in attach)
![untitled](https://user-images.githubusercontent.com/19929395/31893914-23e77df0-b80d-11e7-954b-984c98be816c.png)

[2017-10-23 14:23] teguria opened #380 "Background Templates stretched"
v 119
Surface Book and Lenovo ThinkPad E550

Open a project with a background image (template)
Then the template in the background looks stretched

[2017-10-23 14:37] teguria opened #381 "Deleting didn't delete the arrow"
v 119
Surface Book together with 3 more devices
code: 2761
key: i50yc

A lot of people inked on the canvas
They also added some sticky notes and they connected them
Then I used my pen to start deleting inking
At some point I realized there was an arrow (connecting tile dots) that was still there even though I cleaned that part as well (in attach)
![untitled2](https://user-images.githubusercontent.

[2017-10-23 14:40] teguria opened #382 "Closing the project while syncronizing"
v 119
Surface Book
code: 2761
key: i50yc

I was submitting a bug using Chrome (so everything was on the taskbar
Then I re-opened CollaBoard
CollaBoard started synchronizing the project again while I was trying to close it
I got the error message attached
![untitled3](https://user-images.githubusercontent.com/19929395/31895207-d967f9ae-b810-11e7-9ad5-b395f2c206b7.png)

[2017-10-23 14:52] teguria opened #383 "[Usability] QAT"
v 120

The QAT went up to the top right of the screen on a laptop
Basically it was hard to move the QAT after it was on top of the icons "minimize, restore down, close"

We should have QAT not going on top of that menu for usability reasons

[2017-10-23 15:02] teguria opened #384 "Inking multiple people on the canvas resulted in an issue"
v 220
Surface Book, HP Spectre and Surface Pro
Project Code: 2766
Project Key: 6q0nv
Project description: test october

3 people on 3 different devices
we were inking picking the pen type/colors and size from the QAT
We started inking on the canvas, mostly at the same time
2 out of 3 people got the error message in attach
![unbenannt](https://user-images.githubusercontent.com/19929395/31896393-f11

[2017-10-23 15:24] teguria opened #385 "Camera doesn't record videos anymore"
v 220
Surface Book, HP Spectre (but not on the chinese one)

Launch Camera, try to record a video (no matter if it's the back or the front camera)
The outcome is that the camera doesn't record the video as it says it's in use by other applications

[2017-10-23 15:28] teguria commented on #385
Right after that, I pinched to zoom, and I got the following error message:
![untitled4](https://user-images.githubusercontent.com/19929395/31897734-8c518232-b817-11e7-812b-4c494b8dc86d.png)

[2017-10-23 15:39] teguria opened #386 "2 people inking on canvas at the same time"
v 220
Project Code: 2773
Project Key: 01gcb
Project description: test oct 2

HP Spectre and Chinese device
2 people inking on the canvas, with different pen/style/color, most probably at the same time.
They both got this error message:
![wp_20171023_17_35_07_pro](https://user-images.githubusercontent.com/19929395/31898288-1650b0f6-b819-11e7-9022-bb9d62c8268e.jpg)

[2017-10-23 15:46] teguria opened #387 "Read-only project and possibility to ink"
v 119
3 devices

Admin puts the project as read only
other people can still ink while nobody can see what they are inking.
I think you shouldn't be able to ink when it's read only + it should get a message saying that the project is read only

[2017-10-23 15:55] teguria opened #388 "Arrow missing"
v 119
Surface Book and HP Spectre

Started to ink
connected tiles
At some point, one arrow was broken
![untitled5](https://user-images.githubusercontent.com/19929395/31899246-669a0d58-b81b-11e7-898b-feceb35cb921.png)

[2017-10-23 16:16] teguria opened #389 "Recording audio caused an issue"
v 120
Surface Book

Started recording session through QAT
Stopped it, re-launched it
Got this message below:
![untitled6](https://user-images.githubusercontent.com/19929395/31900316-467aeba2-b81e-11e7-9fa6-6d4709065662.png)

[2017-10-24 08:14] teguria opened #390 "Issue after launching camera"
v 220
Surface Book
I launched the camera, started recording the video. Video doesnt work. I closed the window and, after 1 second, I got the following message
![untitled](https://user-images.githubusercontent.com/19929395/31931639-1dd2aace-b8a4-11e7-98e5-46dccfb5f850.png)

[2017-10-24 08:39] teguria opened #391 "Non-recognized inking type on different devices"
v 120
2 Surface Hubs

Code: 2774
Key: x0h14

Started inking on 2 Hubs
On Hub 1 I started inking with different pen types (pen, pencil, etc.)
On Hub 2 the inking type was just one which was only the pen

[2017-10-24 08:57] teguria opened #392 "Inking not working on a recorded videoclip"
v 120
Surface Hub
- recorded a clip
- edited the clip
- started inking using QAT
- as long as I ink, ink disappears

[2017-10-24 09:17] teguria opened #393 "Inking at the same time on the same spot"
v 120
4 people: 2 Hubs, 1 HP Spectre, 1 Surface Book

2 people inking at the same time on the same spot
HP Spectre was using the pen
At some point, HP Spectre received the error message below
![untitled2](https://user-images.githubusercontent.com/19929395/31934633-ee935250-b8ac-11e7-84ee-818188b56485.png)

[2017-10-25 08:43] gsantopaolo commented on #392
tested and works on .120

[2017-10-25 08:43] #392 closed

[2017-10-25 08:45] gsantopaolo commented on #391
On one hub user is using a pencil, on the second hub, connected on the same project ink was reported as pen and not as pencil.

[2017-10-25 08:46] gsantopaolo commented on #390
@corradocavalli  is it that fixed? If there is a workaround please discuss

[2017-10-25 08:47] teguria commented on #389
![image](https://user-images.githubusercontent.com/19929395/31989219-f414c694-b971-11e7-871f-dbace8a01b0a.png)

[2017-10-25 08:54] gsantopaolo commented on #387
Admin set project read only, second user is still able to ink on the canvas.
Ink colors not synced
It is possible to paste an item!

[2017-10-25 08:57] gsantopaolo commented on #387
User connected to the project didn't got the message project was set to readonly

[2017-10-25 08:58] teguria opened #394 "IBV bottom logo not visible anymore"
v 220
IBV background logo on the bottom right is tot visible on Surface Book and Surface Pro. Party visible on HP Spectre (less than a half of it)

[2017-10-25 08:59] gsantopaolo commented on #388
this is by design at the moment

[2017-10-25 08:59] #388 closed

[2017-10-25 09:00] gsantopaolo commented on #386
users reports ink at the same time in the same place causes this issue and it happens lots of times

[2017-10-25 09:02] tamarawasser opened #395 "Loaded Tile appear nearly behind the Mini Map"
25.10.2017 | 11.00
HP Spectre

When I add a Tile, the Tile is loaded nearly behind the Mini Map. It would be nice to have it more in the middle of the Canvas.
![tile behind the mini map](https://user-images.githubusercontent.com/25382402/31989886-e1e4dfac-b973-11e7-90f2-561be4d50921.JPG)

[2017-10-25 09:02] gsantopaolo commented on #385
@corradocavalli  is this fixed? can we talk about this?

[2017-10-25 09:07] gsantopaolo commented on #395
Tested also on the Surface Hub.
It seems that by creating a tile from the QAT it is created exactly at the QAT's buttom right side.
It would be nice it it can be created just near the icon user tapped so different position based on button tapped.
And also it would be nice if the app can decided by itself if to create on the right or left of the QAT depending on QAT position

[2017-10-25 09:07] tamarawasser opened #396 "Strange Object on Canvas after create Sticky Note"
Surface Hub
25.10.2017 | 11:06

Create a new Project
Create Sticky Note
Sticky Note is created and another strange object is created on the Canvas (right side up)
![strange object on the canvas](https://user-images.githubusercontent.com/25382402/31990183-a4b67f7c-b974-11e7-85a7-104975fddc6a.png)

[2017-10-25 09:09] gsantopaolo commented on #396
it happens on the surface hub, I as there and saw it...

[2017-10-25 09:09] teguria opened #397 "Deleting inking caused a Panda"
v 120
Surface Book
Project Code: 2788
Project Key: r0vda
Project description: sdfb

I inked a lot of stuff, with different pen types/colors.
I started to delete the inking. At some point, I got this error message
![image](https://user-images.githubusercontent.com/19929395/31990299-fdcf944a-b974-11e7-95ac-d00eecc9f4ec.png)

[2017-10-25 09:10] gsantopaolo commented on #394
this depends because the ink canvas is hiding the layer where the IBV logo is.
@corradocavalli  can we do anything for this?

[2017-10-25 09:12] tamarawasser commented on #396
It also happen when I upload a picture
![strange object on the canvas_2](https://user-images.githubusercontent.com/25382402/31990396-4897b1f6-b975-11e7-86d4-82def6c3d0c1.png)

[2017-10-25 09:13] gsantopaolo commented on #383
we can automate it so that when QAT goes too near borders the it automatically moves in a better position

[2017-10-25 09:14] corradocavalli commented on #396
It is a test rectangle that I’m using fro debugging, removed on  v1.4 available now on dev/vNext branch.
Please close this issue.
Thx

Da: tamarawasser<mailto:notifications@github.com>
Inviato: mercoledì 25 ottobre 2017 11:07
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Oggetto: [IBVSoftware/CollaBoard-Feedba

[2017-10-25 09:15] teguria commented on #391
It happened also with Surface Book and HP Spectre on the same project. User A was inking with pen, User B saw the inking as pencil

[2017-10-25 09:16] corradocavalli commented on #395
Bottom right corner is the default behavior to stay aligned with radial menu, we can however change that.

Inviato da Posta<https://go.microsoft.com/fwlink/?LinkId=550986> per Windows 10

Da: Gian Paolo Santopaolo<mailto:notifications@github.com>
Inviato: mercoledì 25 ottobre 2017 11:07
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply.github.com>
Cc: Subscribed<mailto:subscrib

[2017-10-25 09:19] corradocavalli commented on #391
I think this was already reported yesterday and it has been fixed this morning.

Inviato da Posta<https://go.microsoft.com/fwlink/?LinkId=550986> per Windows 10

Da: Gian Paolo Santopaolo<mailto:notifications@github.com>
Inviato: mercoledì 25 ottobre 2017 10:45
A: IBVSoftware/CollaBoard-Feedback<mailto:CollaBoard-Feedback@noreply.github.com>
Cc: Corrado Cavalli<mailto:corrado@outlook.com>; Assign<

[2017-10-25 09:22] teguria commented on #380
![image](https://user-images.githubusercontent.com/19929395/31990907-b5925058-b976-11e7-994d-2fb9aa85f2e7.png)

[2017-10-25 09:22] gsantopaolo commented on #379
@corradocavalli  it seems a recursive error... can we test it?

[2017-10-25 09:25] gsantopaolo commented on #377
@corradocavalli  is it fixed ot just a workaround?

[2017-10-25 09:26] tamarawasser commented on #382
25.10.17 | 11:23
HP Spectre

Open project
Project is already loaded, open Radial Menu directly and click on "close project"
![error while sync and close the project](https://user-images.githubusercontent.com/25382402/31991077-2b6b4c26-b977-11e7-9433-4b353bcf1ef4.JPG)

close this message, panda appear
![panda](https://user-images.githubusercontent.com/25382402/31991143-536201ac-b977-11e7-93e6-eef6f

[2017-10-25 09:27] gsantopaolo commented on #397
@corradocavalli this means you passed an inkid to delete that the db doesn't find.
maybe if it is a delete we just don't rise errors? but this scares me a it... we need to discuss it...

[2017-10-25 09:28] corradocavalli commented on #397
@gsantopaolo We need to discuss about this because if, for any reason the same request to delete a stroke  goes to the server twice we got this message. This might happen because of SignalR retry tentative or because two usera trying to delete the same stroke at the same time (I tried and in fact it happens)

[2017-10-25 09:28] gsantopaolo commented on #376
User are reporting this bug on different devices.
@corradocavalli  can we talk about this?

[2017-10-25 09:32] gsantopaolo opened #398 "Ink on the right side of the canvas"
known bug just for fields

[2017-10-25 09:34] corradocavalli commented on #394
Yes, fixed in v 1.40

[2017-10-25 09:36] corradocavalli commented on #393
It should be fixed in v1.40 can you verify it?
Thanks.

[2017-10-25 09:37] teguria opened #399 "Colors don't match with canvas and sticky notes"
v 120
2 people on the same Hub
2 pens inking with 2 different colors (yellow and black)
then create 2 sticky notes
start inking with one pen on a sticky, another pen on the second sticky
One sticky gets the color wrong (blue, instead of black)

[2017-10-25 09:38] gsantopaolo commented on #374
@mtg1986  can you post video's link here?

[2017-10-25 09:39] gsantopaolo commented on #373
@corradocavalli is this fixed or not?

[2017-10-25 09:40] corradocavalli commented on #389
How long have you been recording? this is a warning not an error...

[2017-10-25 09:54] corradocavalli commented on #387
@gsantopaolo @kasuken  Looks like the message is not broadcasted anymore, client doesn't receive it.

[2017-10-25 11:01] mtg1986 commented on #374
https://1drv.ms/v/s!AlVRFc0_V4ZLurZm6xBG7O4oaw2TZQ

[2017-10-25 11:03] mtg1986 commented on #372
Fixed 1.3.110, therefore closing the bug.

[2017-10-25 11:03] #372 closed

[2017-10-25 11:04] mtg1986 commented on #368
Bug is still here.
Tested with 1.3.110

[2017-10-25 11:05] corradocavalli commented on #387
Added infrastructure to disable ink on background when project is read-only, waiting for fix of missing message

[2017-10-25 11:07] corradocavalli commented on #377
I refactored the code to make it work also on that machine, not clear if problem is the machine or FCU installed.
@teguria can you check it with new version?

[2017-10-25 11:29] mtg1986 commented on #374
Tested on 1.4
Not reproducable anymore

[2017-10-25 11:29] #374 closed

[2017-10-25 11:30] mtg1986 commented on #373
Counter is working.
Tested in 1.4
1.3.110

[2017-10-25 11:30] #373 closed

[2017-10-25 11:30] gsantopaolo commented on #371
close because too old, I believe we already know what's was going on

[2017-10-25 11:30] #371 closed

[2017-10-25 11:33] gsantopaolo commented on #370
@corradocavalli  to reproduce open radial, go to color selection tap acolor with pen write something fast, tap another color, write something fast .. and so on... try to check if a bug appears

[2017-10-25 11:34] gsantopaolo commented on #369
Yes, I saw and reported it, then you went testing and you didn't got, now @mtg1986  got again.
We need to figure out how to get an 84 for more time and test

[2017-10-25 11:39] mtg1986 commented on #367
Not reproducable anymore with 1.4 and new radial

[2017-10-25 11:39] #367 closed

[2017-10-25 11:39] gsantopaolo commented on #368
This is a bug not nice.
To reproduce:
cretea a project
Create a sticky note
ink on it with pen"123"
delete "2!
ink again 2
save sticky
close project
reopen it
edit stiky
try to delete
"123" goes agay in one shot they are not any more 3 strokes bute they become one stroke

[2017-10-25 11:40] gsantopaolo commented on #366
@corradocavalli  can we close this?

[2017-10-25 11:48] mtg1986 commented on #297
Fixed in 1.4. We can create Template projects

[2017-10-25 11:48] #297 closed

[2017-10-25 11:52] mtg1986 commented on #360
On Recorded Video - Screenshot feature is there again
On Youtube Video - Screenshot feature is not there yet
Tested 1.4

[2017-10-25 12:08] gsantopaolo commented on #365
this is ok and by design. thanks

[2017-10-25 12:08] #365 closed

[2017-10-25 12:11] gsantopaolo commented on #364
Wow, saw this. Compliment to @tamarawasser  for having discovered it.
It happens only on surface hub, it seems a Surface Hub bug, we need to report to the Surface Hub team in Corp

[2017-10-25 12:11] corradocavalli commented on #368
Fixed in v1.4

[2017-10-25 12:13] gsantopaolo commented on #363
@corradocavalli  Prject key and code 2800
7o6kk  dev environment
We have to check if project has an admin or not

[2017-10-25 12:16] gsantopaolo commented on #363
2 hubs connected, on tele presence no one is admin
but if we go to info we can change project ownership
issue is that both hubs has same rights

[2017-10-25 12:17] gsantopaolo commented on #363
on the hubs there is no edit delte project

[2017-10-25 12:17] gsantopaolo commented on #363
we have to reproduce with a different prject as this was used and ownership changed

[2017-10-25 12:19] gsantopaolo commented on #362
to investigate

[2017-10-25 14:38] corradocavalli commented on #399
Fixed in v1.40

[2017-10-25 14:58] corradocavalli commented on #386
It should be fixed with version 1.40

[2017-10-25 15:09] corradocavalli commented on #366
yes, it has been fixed.

[2017-10-25 15:09] #366 closed

[2017-10-26 02:27] gsantopaolo commented on #390
discussed changed to waiting confirmation

[2017-10-26 02:29] gsantopaolo commented on #395
yep, as described in my previous comment..

[2017-10-26 02:31] gsantopaolo commented on #389
@corradocavalli we don't have to allow recordings (audio and video) exceeding the maximum file size allowed...

[2017-10-26 02:32] gsantopaolo commented on #387
@kasuken  did you fixed?

[2017-10-26 02:33] gsantopaolo commented on #361
@corradocavalli  if this is fixed close please

[2017-10-26 02:34] gsantopaolo commented on #353
@corradocavalli close if fixed please

[2017-10-26 02:35] gsantopaolo commented on #354
@corradocavalli close if fixed please

[2017-10-26 02:37] gsantopaolo opened #400 "redesign how to react when signalr status changes"
@corradocavalli  need to work on this together before next release

[2017-10-26 02:39] gsantopaolo commented on #351
yep, by design at the moment... closing

[2017-10-26 02:39] #351 closed

[2017-10-26 02:41] #233 closed

[2017-10-26 02:43] #302 closed

[2017-10-26 02:43] #306 closed

[2017-10-26 02:43] #295 closed

[2017-10-26 02:44] gsantopaolo commented on #247
@corradocavalli close if fixed please

[2017-10-26 02:44] #278 closed

[2017-10-26 02:45] gsantopaolo commented on #280
@corradocavalli close if fixed please

[2017-10-26 02:45] #280 closed

[2017-10-26 02:45] #262 closed

[2017-10-26 02:46] #319 closed

[2017-10-26 02:46] #318 closed

[2017-10-26 02:47] gsantopaolo commented on #317
@corradocavalli @mtg1986  what about this?

[2017-10-26 02:47] #317 closed

[2017-10-26 02:48] #330 closed

[2017-10-26 02:49] gsantopaolo commented on #355
@corradocavalli close if fixed please

[2017-10-26 02:49] #355 closed

[2017-10-26 08:02] corradocavalli commented on #387
Fixed in v 1.40

[2017-10-26 08:06] corradocavalli commented on #397
Fixed in v 1.40.

[2017-10-26 08:09] corradocavalli commented on #381
Please provide a scenario to reproduce it.

[2017-10-26 08:16] corradocavalli commented on #380
@teguria @mtg1986 Can you send me via mail the original image used in the above example? Thanks

[2017-10-26 08:19] corradocavalli commented on #379
It should be fixed in V 1.40

[2017-10-26 08:27] corradocavalli commented on #378
@teguria Try, at least, to try to see if it is possible to provide reproducible scenario to identify and fix this kind of issue, the effort required on your side is exactly the same we have to spent to try to figure out what's happening and we don't have enough time and resource to do both discovering and fixing.

[2017-10-26 08:57] corradocavalli commented on #380
Fixed in v 1.40

[2017-10-26 08:58] corradocavalli commented on #376
I cannot reproduce on any of my machine and I tried also on Hub we have on Dev floor without success, added and additional security flag to prevent multiple instantiations but w/o a repro case I don't know how to fix it.

[2017-10-26 13:58] mtg1986 commented on #368
Bug is solved, therefore closing.

[2017-10-26 13:58] #368 closed

[2017-10-26 14:04] #396 closed

[2017-10-26 14:06] #237 closed

[2017-10-26 15:04] #394 closed

[2017-10-26 15:26] gsantopaolo commented on #378
@teguria do you remeber i showed you the ink colors issue by design we have?
maybe is this case?

[2017-10-26 15:27] gsantopaolo commented on #381
@tamarawasser @teguria @mtg1986  can you try to see if you can recreate a reproducible scenario? maybe monday?

[2017-10-26 15:29] gsantopaolo commented on #376
@tamarawasser @mtg1986 @teguria  guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:31] gsantopaolo commented on #359
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:31] gsantopaolo commented on #358
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:32] gsantopaolo commented on #357
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:33] gsantopaolo commented on #356
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:33] gsantopaolo commented on #344
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:34] gsantopaolo commented on #341
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:34] gsantopaolo commented on #340
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:34] gsantopaolo commented on #339
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:35] gsantopaolo commented on #334
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-26 15:35] gsantopaolo commented on #321
@tamarawasser @mtg1986 @teguria guys we do need an hand from your side, maybe you can organize a testing sessions trying to reproduce issues we have with label "more info needed"

[2017-10-27 05:27] tamarawasser commented on #390
HP Spectre
Launched the Camera
Record Video
Video is recording until the end (1 Minute) than this message appears
![video](https://user-images.githubusercontent.com/25382402/32089102-4964d1a8-bae8-11e7-9554-afc36474d1ab.JPG)

[2017-10-27 05:36] tamarawasser commented on #377
@teguria  for your information: it's working on HP Spectre

[2017-10-27 05:44] tamarawasser opened #401 "Click into Mini Map Area generate error message"
27.10.2017
07:40
HP Spectre

Load an existing project
Project Code: 2816
Project Key: syyct

create a sticky note
sticky note appear into the mini map area
click on the mini map area and this message appears
![click on mini map](https://user-images.githubusercontent.com/25382402/32089487-9ed4d30c-baea-11e7-8fd2-1c5afc9b1029.JPG)

[2017-10-27 05:54] #347 closed

[2017-10-27 05:57] #338 closed

[2017-10-27 06:00] #333 closed

[2017-10-27 07:05] corradocavalli commented on #401
@tamarawasser Good catch.
Fixed in v 1..4.1

p.s: Please add the Bug label to this kind of reports.

[2017-10-30 09:41] #399 closed

[2017-10-30 10:45] #387 closed

[2017-10-30 13:58] #401 closed

[2017-10-30 16:03] #350 closed

[2017-10-30 16:14] tamarawasser commented on #348
@corradocavalli when I tap the arrow than it's selected and color change to magenta, is that right? It happen on all devices. When I tap again it becomes blue again. So it's not a bug, right?

[2017-10-30 16:22] #335 closed

[2017-10-30 16:30] #325 closed

[2017-10-30 16:31] #328 closed

[2017-10-30 16:34] #285 closed

[2017-10-31 09:41] #361 closed

[2017-10-31 10:26] #393 closed

[2017-10-31 10:27] #386 closed

[2017-10-31 10:36] #379 closed

[2017-10-31 11:11] #380 closed

[2017-10-31 12:25] #397 closed

[2017-10-31 12:48] #391 closed

[2017-10-31 13:08] corradocavalli commented on #390
Confirmed as HP Spectre only issue, potponed to investigate status.

[2017-10-31 15:11] tamarawasser opened #402 "Size of the pen is not recognized all the time"
HP Spectre
31.10.2017 / 16:00

Create a sticky note
Make it fullscreen
Choose pen and color red, size of the pen is 8
Ink
Change color to blue
Click on the icon with the waves to change the size.
Change the size by click on the size-regulator
Try to ink – inking is not working – preview with the size and color disappear
Try to ink again – inking is working but with the size the pen had before and

[2017-10-31 15:28] tamarawasser opened #403 "Error Message when using Lasso"
HP Spectre
31.10.2017 / 16:15

Create a new project
Create a Sticky Note
Make it Fullscreen
start inking in different colors and sizes with different pens
use the eraser
click on lasso feature and this message appears
![lasso](https://user-images.githubusercontent.com/25382402/32232497-729fec38-be58-11e7-916c-e12d9e83023f.JPG)

Tried it again. Not reproducible at the moment.

[2017-10-31 15:44] tamarawasser opened #404 "By Lasso selected part stays on Canvas after closing full screen"
HP Spectre
31.10.2017 / 16:41

Sticky Note with Ink is in Full Screen
Select a Part by using the Lasso

![full screen](https://user-images.githubusercontent.com/25382402/32233384-8a03ba9c-be5a-11e7-9f47-645ef50df7e9.JPG)

Close Full Screen Sticky Note
Selected Part is visible on the Canvas

![full screen2](https://user-images.githubusercontent.com/25382402/32233427-a26e4638-be5a-11e7-94ee-95f6e5ae

[2017-10-31 15:49] tamarawasser opened #405 "Error Message on Dell Inspiron 1750"
Dell Inspiron 1750
31.10.2017 / 16:49

Open CollaBoard on Dell
Create a new project
This message appears

![bug](https://user-images.githubusercontent.com/25382402/32233766-6e9ad9ba-be5b-11e7-992b-d4365faab294.jpg)

[2017-10-31 15:58] tamarawasser opened #406 "Error message while closing the project"
HP Spectre
31.10.2017 / 16:55
Project Code: 2874
Project Key: c3zf5

Surface Book
31.10.2017 / 16.55
Project Code: 2875
Project Key: c21mg

On both devices and in both projects:
project was open
open radial menu
click on "close project"
confirm closing the project by click on "yes"
this message appears

![bug](https://user-images.githubusercontent.com/25382402/32234243-8beb3c2a-be5c-11e7-8ab1-d7df

[2017-10-31 16:02] corradocavalli commented on #404
@tamarawasser Fixed in v1.4.4

[2017-10-31 16:05] corradocavalli commented on #406
@tamarawasser  Closing since a duplicate of #403 that should be fixed in v 1.4.4

[2017-10-31 16:05] #406 closed

[2017-10-31 16:14] tamarawasser opened #407 "Mini Map and Toolbar allowed but not visible"
Surface Hub
31.10.2017 / time: ???
Project: ???
Key: ???

Surface Book
31.10.2017 / 17:00
Project: 2879
Key: 21dpe

Create a new project
in Settings:
show mini map = allowed
show quick access toolbar = allowed

On the Canvas Mini Map and Toolbar doesn't appear

![mini map and toolbar](https://user-images.githubusercontent.com/25382402/32235112-dff80fee-be5e-11e7-8363-d545fca01915.PNG)

[2017-10-31 16:47] tamarawasser opened #408 "Size of the tiles change while moving"
Surface Book
31.10.2017 / 17:39
Project Code: 2886
Project Key: kzlh5

Create a new project
Record a video by using the camera
upload a picture
close the project
reopen the project
touch the picture - size of the picture change
touch the video - size of the video tile change
close project
reopen project
Video tile goes back to "normal" size
pictures stays in the smaller size
[Picture and Video.ppt

[2017-10-31 17:55] corradocavalli commented on #402
@tamarawasser  Fixed in v 1.4.4 (note: when changing pen size by clicking instead of dragging the first tap of the pen will cause slider panel to close so inking will be possible by second tap on surface (canvas or tile). This is by design.

[2017-11-01 07:06] teguria commented on #378
yes I think it's the case @gsantopaolo but not 100% sure. Will test it when we have the new release

[2017-11-01 07:07] teguria commented on #377
@tamarawasser can you please try to replicate on the Surface Book as well? I think it shouldn't anymore but just wanted to be sure.

[2017-11-01 07:08] teguria commented on #369
@mtg1986 maybe we can ask Also to get the 84 (or go there for another round of testing, with the latest version)

[2017-11-01 08:06] #377 closed

[2017-11-01 08:46] #403 closed

[2017-11-01 08:53] #404 closed

[2017-11-01 09:00] #408 closed

[2017-11-01 09:05] #402 closed

[2017-11-01 09:09] tamarawasser opened #409 "Error on Surface Hub while inking on full screened Sticky Note"
Surface Hub
01.11.17 / 10:06

Create a new project
create a sticky note
make sticky note full screen
select first pen and color black
start inking - Ink is yellow
click with pen on color again to choose black
this message appears

![hub](https://user-images.githubusercontent.com/25382402/32267694-6fa9d86a-beec-11e7-8807-d12eb11bfe51.jpg)

tried it again, doesn't happen anymore.

[2017-11-01 09:20] corradocavalli commented on #409
@tamarawasser can you try the same sequence from scratch, need a repro sequence

[2017-11-01 09:42] corradocavalli commented on #348
@tamarawasser yes, that's how it should work, you can close this.

[2017-11-01 09:44] tamarawasser commented on #349
@corradocavalli  it doesn't happen on the Sf Hub 55". Is it necessary to test on 84" too? should I leave this issue open?

[2017-11-01 09:48] corradocavalli commented on #409
@tamarawasser I made sure if it happens again it won't crash but it default to blue pen, not good but w/o a repro case that's the only temporary solution available. It would be nice if you could understand how to make selected color and ink color out of sync.

[2017-11-01 09:50] #348 closed

[2017-11-01 10:23] tamarawasser opened #410 "By Lasso selected part disapear on SfHub"
Surface Hub
Surface Book
HP Spectre
01.11.2017 / 11:07

Project Code: 2906
Project Key: xpq5i

Create a new project on Surface Book
Open this project on SfHub and HP Spectre
On all devices, Canvas is zoomed out that I can see the whole canvas on each device
Start inking on background on the Surface Hub, on Surface Book and HP Spectre, everything works.

Use the Lasso to choose a inked part (yellow

[2017-11-01 10:26] tamarawasser commented on #410
Now I closed the project on the HP Spectre and this panda appears
![panda](https://user-images.githubusercontent.com/25382402/32270738-680be700-bef7-11e7-9440-842e658e55d4.JPG)
then the SignalR appears
![signalr](https://user-images.githubusercontent.com/25382402/32270743-7055dd8a-bef7-11e7-934e-a25117606b05.JPG)
This happen just on the HP Spectre. I was able to close the project on the SfHub and

[2017-11-01 10:39] tamarawasser opened #411 "Color changes while choosing the size of the pen"
Surface Hub
01.11.17 / 11:33

Create a new project
Create a Sticky Note
Make Sticky Note Full Screen
Choose a pen
Choose color red
While choosing the size of the pen, color changes from red to blue but when I start ink on the Sticky Note, color is red again.
[Presentation1.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1433838/Presentation1.pptx)

[2017-11-01 10:46] tamarawasser opened #412 "Lot of automaticaly created Sticky Notes"
Surface Hub
Surface Book
HP Spectre
01.11.2017 / 11:41

In the same project with all devices.
On the SfHub I was working on a full screened Sticky Note.
On the HP Spectre (I did nothing on this device) the SignalR appears and there are a lot of new Sticky Notes in the corner created by the SfHub, but I didn't create them.

![signalr_hps](https://user-images.githubusercontent.com/25382402/32271380-

[2017-11-01 10:57] tamarawasser opened #413 "Different Ordner on different Devices"
Surface Hub
Surface Book
HP Spectre

Create a new project
Join the project with all devices
Upload a .jpg, a .png, a video and a PDF on the SfHub

Order on the SfHub:
![order sfh](https://user-images.githubusercontent.com/25382402/32271773-b32be254-befb-11e7-82bd-95f07352d99f.JPG)

Order on the Surface Book and the HP Spectre:
![order hps](https://user-images.githubusercontent.com/25382402/3227176

[2017-11-01 10:58] corradocavalli commented on #398
Fixed in v1.4.5

[2017-11-01 10:59] tamarawasser commented on #413
After Synchronizing the project on the HP Spectre and on Surface Book
![capture](https://user-images.githubusercontent.com/25382402/32271852-1797aa16-befc-11e7-9d40-33f68a1b69e9.JPG)

[2017-11-01 11:02] corradocavalli commented on #405
@tamarawasser  can you please try if this is solved with v 1.4.5? thx.

[2017-11-01 11:06] corradocavalli commented on #412
@ema @gsantopaolo we need to find a definitive solution for this...

[2017-11-01 11:26] tamarawasser commented on #398
[Presentation1.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1433945/Presentation1.pptx)

[2017-11-01 11:27] corradocavalli commented on #411
@tamarawasser Does it happen all times?

[2017-11-01 11:47] tamarawasser opened #414 "Title from Library not visible"
Surface Hub
HP Spectre
01.11.17 / 12:45

Create a library on the SfHub
Name the library by using ink
Library on SfHub is named but not on the HP Spectre
When I sync CB project on Spectre, Library is named too

[2017-11-01 11:52] corradocavalli commented on #410
@tamarawasser it is a consequence of issue #398, marked as waiting confirmation to be checked when #398 will be definitively gone.

[2017-11-01 12:10] tamarawasser opened #415 "Edite Mode when Sticky Note in Full Screen"
I create a Sticky Note on the SfHub
The Sticky Note is in edit mode automatically
Make the Sticky Note Full Screen
Choose Pen, Color and Size
Start inking
Save the Sticky Note and stay in Full Screen

When the Sticky Note is saved and not in Edit Mode anymore, the Icon where I can choose the pens shouldn't be clickable. Because when I click on the Icon to choose pen, color and size again, I'm able

[2017-11-01 12:11] #336 closed

[2017-11-01 12:24] tamarawasser commented on #332
@corradocavalli

User 1 with HP Spectre is owner of the project
go to info and change ownership to user 2
Confirm the question: "Do you really want to change the ownership of this project"
Confirm the question: "All rights of this project will be transferred to the designated user. Continue?"
Open info again to check - User 1 is not owner of the project anymore

User 2 with Surface Book is in the

[2017-11-01 12:48] corradocavalli commented on #415
@tamarawasser That's expected behavior, it was indeed a bug, fixed on v 1.4.6

[2017-11-01 12:57] tamarawasser commented on #414
This just happen, when I name the Library on the SfHub. When I name it on the HP Spectre, the ink is on directly visible on the Surface Book

[2017-11-01 13:37] mtg1986 commented on #369
It will not be possible to get the 84'' Device from ALSO they are lending it (2000CHF/Month). So they will not do for free. Only possibility is to ask if we can go there again and try to better plan testing we do there.

[2017-11-01 13:45] tamarawasser opened #416 "bad picture quality on HP Spectre"
Cube i8-L
Surface Book
HP Spectre

Project Code: 2916
Project Key: qyp39

Upload a .jpg pictures on the HP Spectre
Picture Quality on Cube i8-L and Surface Book
![pic_od](https://user-images.githubusercontent.com/25382402/32277300-444fa23c-bf12-11e7-996c-2a78b12bef8f.JPG)

Picture Quality on HP Spectre
![pic_hps](https://user-images.githubusercontent.com/25382402/32277309-518777ea-bf12-11e7-9e5b-3

[2017-11-01 14:39] corradocavalli commented on #414
@tamarawasser (should be) Fixed in v 1.4.6

[2017-11-01 14:49] tamarawasser commented on #405
@corradocavalli
tested with v1.4.5. happen again, same message appears

[2017-11-01 15:01] tamarawasser commented on #411
@corradocavalli just happen on the SfHub, but yes, all the time

[2017-11-01 15:10] tamarawasser commented on #410
I close this because it's a consequence of #398. Working on that..

[2017-11-01 15:10] #410 closed

[2017-11-01 15:12] #415 closed

[2017-11-01 15:15] tamarawasser commented on #369
@gsantopaolo can we create a separate label to mark all the bugs we have to test on a 84" SfHub?

[2017-11-01 15:15] corradocavalli commented on #413
@kasuken Sound like some messages are missing, need to investigate...

[2017-11-01 15:18] tamarawasser commented on #414
not fixed in 1.4.6.
Create a Library on SfHub and named it by using ink
Library was not named on Surface Book, when I sync. the project on Surface Book, it's named

[2017-11-01 16:28] corradocavalli commented on #398
@tamarawasser Should be fixed in v 1.4.7

[2017-11-01 17:18] corradocavalli commented on #370
Tried several times, no way to reproduce it on v 1.4.7

[2017-11-01 17:22] corradocavalli commented on #414
@tamarawasser Can you try, when possible,, with 1.4.7? tried again and looks fixed to me... thx

[2017-11-01 17:31] corradocavalli commented on #369
Done

[2017-11-01 20:44] tamarawasser opened #417 "two people use the lasso generate an issue"
Surface Hub
01.11.17 / 21:40

Project Key: 10865
Project Code: h5hbw

two people work on the Surface Hub
both choosed the Lasso
start to select a part with the lasso together
[Presentation1.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1435641/Presentation1.pptx)

[2017-11-02 10:46] tamarawasser opened #418 "Panda on SfHub 84" while being in the project"
SfHub 84”
02.11.17 / 11.40
Project Code: 10870
Project Key: b9hjy

We were just in the project, did nothing
Panda appears “Server asked to reload the project”
Will try to replicate

[2017-11-02 10:56] tamarawasser commented on #418
happen again at 11:49
one person is inking on the background on the SfHub 84"
two others are in the project but doing nothing (HP Spectre and Surface Pro)

![wp_20171102_11_50_31_pro](https://user-images.githubusercontent.com/25382402/32322350-8f43991c-bfc4-11e7-82f7-9435ab98b2c5.jpg)

[2017-11-02 11:02] tamarawasser opened #419 "two different welcome screens on SfHub 84""
SfHub 84"
02.11.2017 / 11:56

Launch CollaBoard
Start Screen with "Welcome to evaluation version..." appears
Than Screen with "Welcome to CollaBoard..." appears

[Presentation1.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1437452/Presentation1.pptx)

[2017-11-02 11:10] tamarawasser opened #420 "position of camera tile changes when clicking on switch camera"
SfHub 84"
02.11.2017 / 12:06

Launch Camera
Camera Tile appear in the corner down left
Move the Camera Tile into the middle of the Canvas
click on the Switch Camera Icon
Camera Tile moved automatically back to the corner down left

[Presentation1.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1437470/Presentation1.pptx)

[2017-11-02 11:47] #349 closed

[2017-11-02 11:48] tamarawasser commented on #291
@gsantopaolo what is the issue here? I'm in front of a 84" with v1.4.7

[2017-11-02 12:12] tamarawasser opened #421 "Panda while using Maps"
Surface Book
02.11.2017 / 13:02

Create a new project
Add sticky notes
Add libraries
Add Grid libraries
Open Search
Search for Zurich
Take a picture out of the map
Take one more picture out of the same map
Take one more picture out of the same map
Panda appears (It seems that there is a problem. We will…)

Tried again to reproduce:
Map of Zurich is open in search
Click multiple time on the camera

[2017-11-02 12:14] corradocavalli commented on #421
@tamarawasser Can you please to the same with your machine so that i can see what message appears? thx

[2017-11-02 12:19] corradocavalli commented on #417
@tamarawasser That's by design at the moment, we don't support multiple lassos, added a check that should prevent that bad looking effect on v1.4.8

[2017-11-02 12:20] tamarawasser commented on #369
works very good with v1.4.7

[2017-11-02 12:20] #369 closed

[2017-11-02 12:23] tamarawasser commented on #421
HP Spectre
02.11.2017 / 13:23

did the same on my device
![panda](https://user-images.githubusercontent.com/25382402/32325879-0ac01136-bfd1-11e7-86f5-a63bb7d94a49.JPG)

[2017-11-02 12:25] corradocavalli commented on #419
@tamarawasser That's by design, you see "evaluation" for the time involved in checking the license, as soon it is validate the text align. Normally is instantaneous but if connection is low the interval might be longer than usual.

[2017-11-02 13:12] corradocavalli commented on #420
@tamarawasser fixed in v 1.4.8

[2017-11-02 14:08] corradocavalli commented on #421
@tamarawasser Unfortunately can't reproduce it, let's try again with your machine in the office when possible.

[2017-11-02 14:10] corradocavalli commented on #418
@gsantopaolo From telemetry i see a lot of "0 rows affected errors" my feeling is that this is due to SignalR messaging retries causing double insert of the same value on DB.

[2017-11-02 14:14] corradocavalli commented on #375
@teguria Can you please try again with 1.4.7 and let us know if bug still present?

[2017-11-02 14:29] corradocavalli commented on #332
@tamarawasser I tried again and suggested behavior is exactly how is working for me.
When you designate S2 as the new owner, on S2 machine a dialog appears and when confirmed project is automatically closed, when reloaded S2 is the new owner and info is visible in project info.
Let's try again together when possible.

[2017-11-03 08:02] tamarawasser commented on #421
Tried it on HP Spectre with V1.4.8 and it doesn't happen again.
Tried it on Surface Book with v.1.4.8 and it happen again
![capture](https://user-images.githubusercontent.com/25382402/32364530-a78548d4-c075-11e7-98a0-678678911b59.JPG)

[2017-11-03 08:46] #414 closed

[2017-11-03 08:51] corradocavalli commented on #421
@tamarawasser Should be fixed on 1.4.8

[2017-11-03 08:52] corradocavalli commented on #416
@tamarawasser Should be fixed in v 1.4.8

[2017-11-03 08:53] corradocavalli commented on #409
@tamarawasser Can you try to reproduce it with 1.4.8? thx.

[2017-11-06 13:52] #416 closed

[2017-11-06 15:22] tamarawasser opened #422 "Drop Tile into Library doesn't work all the time"
SfHub
06.11.2017 / 16:12

Create a new project
Create 16 Sticky Notes
Create a Grid Library - change size to 16 fields
Start drag an drop Sticky Notes into the Grid Library

When I do that slow, it works without any problems, but when I do it faster, Sticky note becomes a blue border but stays over the Library without any request to drop it into the library

[Drag and Drop Tile into Grid Library.p

[2017-11-06 15:33] tamarawasser commented on #332
Tried more than once, is working perfectly

[2017-11-06 15:33] #332 closed

[2017-11-06 15:39] corradocavalli commented on #422
@tamarawasser this is by design, based on your request we prevented tiles to be automatically added into a library because this was causing them to be inadvertently "sucked" into a library when 'throwing' them over the canvas. Dope gesture must be very explicit, this means dragging and releasing the mouse/finger over the container. HTH

[2017-11-06 15:39] #421 closed

[2017-11-06 15:39] tamarawasser opened #423 "Drop Tile into Library doesn't work all the time"
SfHub
06.11.2017 / 16:12

Create a new project
Create 16 Sticky Notes
Create a Grid Library - change size to 16 fields
Start drag an drop Sticky Notes into the Grid Library

When I do that slow, it works without any problems, but when I do it faster, Sticky note becomes a blue border but stays over the Library without any request to drop it into the library

[Drag and Drop Tile into Grid Library.p

[2017-11-06 15:41] corradocavalli commented on #423
@tamarawasser duplicated of #422, closing.

[2017-11-06 15:41] #423 closed

[2017-11-06 15:43] tamarawasser opened #424 "Zoom out Canvas while using maps"
SfHub
06.11.2017 / 16:41

Open a new project
Open Search
Search for Zurich and click on Maps

When I click one time on the camera icon, a pictures out of maps apears
When I click fast (like double click) on the camera icon, Canvas zoom out

[Canvas zoom in.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1446805/Canvas.zoom.in.pptx)

[2017-11-06 15:51] tamarawasser commented on #420
it's fixed for cube, surface pro, hp specte, sfhub 55"
we have to test on the sfhub 84" than close the issue

[2017-11-06 15:54] tamarawasser commented on #409
@corradocavalli I tried to reproduce. It's not possible, it doesn't happen anymore. Create Sticky Note, make it full screen, choose black. ink in black, all the time. Seems like it's working.

[2017-11-06 16:03] #398 closed

[2017-11-06 16:11] corradocavalli commented on #409
@tamarawasser ok, closing then.

[2017-11-06 16:11] #409 closed

[2017-11-06 16:14] tamarawasser commented on #375
Inking on the same spot is possible. Did it more than once now on different devices and never had a panda.

Other problem here: Realtime Ink is missing on HP Spectre

HP Spectre
Surface Pro
06.11.2017 / 17:12

Project Code: 2991
Project Key: qcy7m

choose red pen for Surface Pro
choose green pen for HP Spectre
start inking on the same time in the marked spot (black area in the video)
stop inking
g

[2017-11-06 16:56] corradocavalli commented on #424
@tamarawasser Fixed in v 1.4.11

[2017-11-06 17:34] tamarawasser commented on #412
@corradocavalli

Create a new project
Create a sticky note
Make sticky note full screen
Choose pen and color
Ink
Save
Close full screen

There is just one Sticky Note, everything fine.

And then:
Create a new project
Create a sticky note
Make sticky note full screen
Choose pen and color AND SIZE OF THE PEN
Ink
Save
Close full screen

There are a lot of Sticky Notes. Seems like they are automatical

[2017-11-06 18:02] corradocavalli commented on #412
@tamarawasser Fixed in v 1.4.12

[2017-11-07 13:03] #412 closed

[2017-11-07 13:05] #424 closed

[2017-11-07 13:36] tamarawasser opened #425 "Search Tile is not movable"
SfHub
07.11.2017 / 14:28

Create a new project
open Search
try to move search tile - it's just movable a bit

[p1.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1450141/p1.pptx)

[p2.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1450143/p2.pptx)

[2017-11-07 14:16] tamarawasser opened #426 "Delete Library makes Tiles deleted too"
SfHub
07.11.2017 / 15:06

Create a new project
Create a Grid Library
Upload some pictures

Move one pictures after the other over the Grid Library like you want to put it into it - when the request appears don't click on the confirmation button, just leave the picture there and go ahead with moving the other pictures over the library

Now all tiles are over the library and the request is open to c

[2017-11-07 15:12] tamarawasser opened #427 "Space before Title when name Library by ink"
SfHub
07.11.2017 / 16:11

Create a new project
Create a Grid Library
Name Grid Library by using Ink

- before the Title there is always a Space. No matter where I start inking in the textbox. The space is still there

[2017-11-07 16:49] corradocavalli commented on #426
@tamarawasser  Fixed in  v1.4.14

[2017-11-07 17:12] corradocavalli commented on #427
@tamarawasser v 1.4.14

[2017-11-08 06:53] corradocavalli commented on #425
@tamarawasser Fixed in v1.4.14

[2017-11-08 08:26] tamarawasser opened #428 "Close Tile Full Screen"
When I open a pictures on my device, I'm used to close it by click on the cross in the corner up right. That's why I often do that in CollaBoard when I want to close tile full screen. Of course than I close CollaBoard and not the tile full screen. Maybe we can implement a request like "are you sure you want to close CollaBoard?"

[2017-11-08 08:29] corradocavalli commented on #428
@tamarawasser I've investigate quickly and it looks not so naive to implement as initially expected.
We will certainly take in consideration.

[2017-11-08 08:44] tamarawasser opened #429 "Copy/Past highlighted text"
A customer asked me the following:

He's working on a PDF in CollaBoard. There is some text in the PDF he highlighted. Now he takes the lasso, copy this highlighted part and want to paste it into another tile or on the canvas. But at the moment there is just the highlight copied, not the text.
Would be nice if he would be able to copy the whole part, means text and highlight.

[2017-11-08 09:37] tamarawasser opened #430 "While zoom out Canvas and moving tiles, background text appears"
SfHub
Cube
HP Spectre
08.11.2017 / 10:36

open a new project
zoom in the canvas
move the info tile around
"welcome" text on the canvas appears

[Presentation1.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1453286/Presentation1.pptx)

[2017-11-08 09:54] #426 closed

[2017-11-08 09:59] #427 closed

[2017-11-08 10:00] #425 closed

[2017-11-08 13:08] corradocavalli commented on #430
@tamarawasser The "project is empty..." text is now back. It will appear when project has no tiles nor ink, as soon as user starts inking or after adding a tile it will fade out.

[2017-11-08 13:33] tamarawasser commented on #430
@corradocavalli right, text disapear when I add a tile, but when project is empty and I open Info or Settings it looks now like this

![123](https://user-images.githubusercontent.com/25382402/32551709-b1e139a8-c491-11e7-946b-656e7f1f48bd.jpg)

[2017-11-09 09:01] tamarawasser commented on #430
@corradocavalli
create a new project - text on welcome screen is visible
open search - text is over search tile
search for zurich - text still over search tile
map from zurich opens - text is over the map now

![startscreen text](https://user-images.githubusercontent.com/25382402/32596815-e6fe6162-c534-11e7-9b8b-27caf0ca988f.JPG)

[2017-11-10 08:11] tamarawasser opened #431 "Tile Rotation not allowed - Tile rotated"
SfHub
10.11.2017 / 09:08

Settings: tile rotation is not allowed
create a new project
load some tiles
take a picture with the camera
picture is rotating - other tiles not
after a while (didn't found out when yet) photo is not rotating anymore

![tile rotation](https://user-images.githubusercontent.com/25382402/32648656-28268b70-c5f7-11e7-919b-9c8a9eeb86d2.jpg)

[2017-11-10 09:18] tamarawasser commented on #382
This happen on all devices. Tried it three times and panda appears always.

Open radial menu
click on settings
click on "sync project" - radial is still open
slick on "close project" while syncronizing
panda appears

[2017-11-14 13:41] gsantopaolo opened #432 "Collaboard Crashes when registering a license"
From an unregistered collaborad version go to info -- > license and add a valid registration key.
Application crashes
![image](https://user-images.githubusercontent.com/9937149/32782759-bef30e5c-c949-11e7-94a9-59f6944908c4.png)
![image](https://user-images.githubusercontent.com/9937149/32782778-cf76d8ee-c949-11e7-866d-76b59aecaef6.png)

[2017-11-14 14:44] corradocavalli commented on #432
@gsantopaolo / @tamarawasser  I have successfully registered using the license you provided via Skype.
Are there other  surrounding aspects to consider for bug investigation (DEV vs PROD, else...) ?

![image](https://user-images.githubusercontent.com/5617938/32785680-66a4af22-c952-11e7-8650-3923bc05c501.png)

[2017-11-14 15:07] corradocavalli commented on #432
@tamarawasser Fixed in v 1.4.21

[2017-11-14 20:58] gsantopaolo opened #433 "Only on Hub - not possible to load office documents"
Only on hub.
When trying to load an office document thought the "load file" functionality i get a message, file exceed limit of 15mb, but the file (docx) was only some few kb.
If i take the same file i bring on a laptop and try same it works perfectly

[2017-11-15 08:31] corradocavalli commented on #432
@tamarawasser fixed in v1 1.4.21

[2017-11-15 13:07] tamarawasser commented on #432
It's working in Dev. Environment for AllDevices and TeamFamily. Will check in Live-Environment when new version is published.

[2017-11-16 13:20] tamarawasser opened #434 "right order after upload - wrong order after moving tile"
SfHub
HP Spectre
16.11.2017 / 14:16

Create a new project on SfHub
Join Project with HP Spectre

On SfHub:
load PDF Doc. in Project

On HP Spectre:
load 10 Excel-Files in Project

Order of the tiles looks the same on Hub and on HP Spectre
![01](https://user-images.githubusercontent.com/25382402/32893219-f610d3a2-cad8-11e7-97dd-8b6c2fe3fbbf.JPG)

On HP Spectre:
move the PDF to another part of the c

[2017-11-16 13:29] tamarawasser opened #435 "Tiles blocked but not in edit-mode"
SfHub and HP Spectre
16.11.2017

Project is open on each device
Upload Excel Files on HP Spectre
Excelfiles all visible on SfHub, but blocked bei User TW with HP Spectre
Excelfiles are not in edit-mode on HP Spectre
![wp_20171116_10_37_43_pro](https://user-images.githubusercontent.com/25382402/32893534-2cbe8cd6-cada-11e7-98fa-3ed0d0c83ca0.jpg)

Same example with same devices but vise versa
PDF loa

[2017-11-16 13:33] tamarawasser commented on #435
@corradocavalli I have no idea if this helps, but I tried this again to reproduce and I discovered that when I upload the files, it looks like the files become uploaded twice. Once they're blocked and then they become uploaded again, but in saved mode.
[Presentation1.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1478669/Presentation1.pptx)

[2017-11-16 13:36] tamarawasser commented on #434
@corradocavalli when I upload different files, word, excel, pdf, at the same time, the order on SfHub is completely different than on the HP Spectre.
[Presentation2.pptx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1478674/Presentation2.pptx)

[2017-11-16 14:33] tamarawasser opened #436 "Not able to open an office doc on the Surface Hub"
SfHub
HP Spectre

Project Code: 3203
Project Key: i2qhl

![capture](https://user-images.githubusercontent.com/25382402/32896367-24fa1156-cae3-11e7-8d93-1776292ad50d.JPG)

All the tiles with a red circle can be opened on the HP Spectre but not on the Surface Hub. The content of each excel is the same, the content of each word is the same, the content of each power point is the same.

[2017-11-17 08:30] corradocavalli commented on #433
@tamarawasser Fixed in v  2.0.2

[2017-11-17 08:41] corradocavalli commented on #436
@tamarawasser At the moment the projects behaves correctly, is there any additional step we can try to reproduce it?

[2017-11-17 09:34] corradocavalli commented on #434
@tamarawasser As discussed together tiles aren't duplicated, it is a visual effects due to tiles being stacked.

[2017-11-17 09:43] corradocavalli commented on #431
@tamarawasser unfortunately can't reproduce it, open it again when (and if it reappears)

[2017-11-17 09:49] #433 closed

[2017-11-17 10:05] #411 closed

[2017-11-17 10:06] #436 closed

[2017-11-17 10:55] corradocavalli commented on #435
@gsantopaolo @kasuken We verified that sometimes, especially when many tiles are uploaded simoultanesously, the message MessageType.UploadedMessage get lost, so the tile remains, in 'uploading' state.

Here's an example:

  CREATED:a1b7fa1cab6243dfb54c764e05057e38
  DONE:a1b7fa1cab6243dfb54c764e05057e38

  CREATED:efe4fd3a0f974f859916ce5d52b5c0c0
  DONE:efe4fd3a0f974f859916ce5d52b5c0c0

  CREATED:

[2017-11-20 12:44] tamarawasser commented on #434
@corradocavalli what we discussed was about the upload of the tiles. They appear twice while uploading but when upload is done, they are in the project once. This issue is closed.
But here the problem is the order of the tiles after moving a tile.

[2017-11-20 13:29] tamarawasser opened #437 "Uploaded Word Document has more pages on Hub than on HP Spectre"
SfHub
HP Spectre
20.11.2017 / 14:22

On SfHub:
Upload a Wordfile
Open Wordfile
Word has 7 pages
close Word
save

On HP Spectre:
Open same Wordfile as uploaded on SfHub
Word has 5 pages
![hp spectre](https://user-images.githubusercontent.com/25382402/33020563-254c32fa-cdff-11e7-8f37-06125348d0e6.JPG)

[2017-11-20 14:01] tamarawasser commented on #291
@gsantopaolo Gian, does it make sense that I go to ALSO or MS to test these bugs on a Surface Hub 84?

[2017-11-20 14:05] #339 closed

[2017-11-20 14:09] tamarawasser commented on #322
@teguria and @corradocavalli what's going on here guys? There is label "waiting confirmation". Do I have to test if it's working?

[2017-11-20 14:50] #381 closed

[2017-11-20 14:51] corradocavalli commented on #437
@tamarawasser Can you send me the original word file and provide me key and code of the project?

[2017-11-20 15:02] tamarawasser commented on #437
@corradocavalli
Project Code: 3217
Project Key: evapd

[Marketing Produkte Beschrieb.docx](https://github.com/IBVSoftware/CollaBoard-Feedback/files/1488053/Marketing.Produkte.Beschrieb.docx)

[2017-11-20 17:13] corradocavalli commented on #322
@tamarawasser Yes, but you need an Italian accent and an Italian Win10 installation and Cortana in Italian, otherwise think it can be closed.

[2017-11-21 05:50] mtg1986 opened #438 "Feature Request: CollaBoard Key and Code"
CollaBoard Key has only small letters. When I want to add a key on Surface Hub, the first letter is by default always capital (when I type over the keyboard) . Therefore the request would be to have always a capital letter in the first position of the key (if it is a letter and not a number).

Small thing, but would improve usability a bit.

[2017-11-21 07:04] mtg1986 opened #439 "Feature Request: Copy Project"
Got the feedback from several testers that they would like to be able to copy projects they created.
Lets see if we should do that and then decide when it would be possible.

[2017-11-21 11:12] corradocavalli commented on #438
@mtg1986 Since build 2.0.3 key will be automatically converted to lowercase as you type.

[2017-11-21 14:36] tamarawasser commented on #437
@gsantopaolo @corradocavalli
I opened the Word on the SfHub, where it has 7 pages. I inked something on the fourth page, which is nearly empty. Because this page doesn't exist in the Word Document on my device, I can't see the ink there.

[2017-11-21 15:35] tamarawasser opened #440 "Tiles on Hub locked after sync project"
HP Spectre
SfHub 55
21.11.2017 / 16:28
Project Code: 11177
Project Key: mnwcd

HP Spectre:
open search
search for Zurich
click on Image
drag some pictures on the canvas
looks like this:
![hp](https://user-images.githubusercontent.com/25382402/33081075-a55cc2a4-ced9-11e7-8d61-0a47bf593e70.JPG)

SfHub:
open settings and sync project
after sync pictures are locked by HP Spectre but on HP Spectre they

[2017-11-23 08:55] tamarawasser commented on #440
@corradocavalli I don't know if this is relevant... I logged in with my personal credentials on the SfHub and uploaded some pictures on my HP Spectre. In this case the pictures on the SfHub are not locked.

[2017-11-23 10:06] tamarawasser opened #441 "Panda on SfHub while uploading project and working in Word"
SfHub
23.11.2017 / 11:05

Project Code: 11204
Project Key: ea3eg

Open CB on SfHub
Use Team Device
Load Project
While project is loading open File Explorer
Open Word File with License Key
Copy License Key
Go back to CB
CB crashed
![panda hub](https://user-images.githubusercontent.com/25382402/33167608-5727881a-d03e-11e7-8fb6-49e1b8a606bc.jpg)

Tried to reproduce. Doesn't happen anymore.

[2017-11-23 11:00] tamarawasser commented on #435
same bug as #440. Will continue commenting there and close this

[2017-11-23 11:02] tamarawasser commented on #440
@corradocavalli I continue commenting this bug when something happen again. Here next scenario: In the same project with SfHub and HP Spectre. All tiles are unlocked on both devices. I close the project on the HP Spectre and reopen it. All Word Documents are locked by SfHub. But Word Files on SfHub are not in edit mode.
![word locked](https://user-images.githubusercontent.com/25382402/33169766-18a

[2017-11-23 11:08] tamarawasser opened #442 "Cube i8-L crashes when download CollaBoard from Store"
Cube i8-L
23.11.2017 / 12:07

Download CollaBoard from Store
Open CollaBoard
CollaBoard crashes

![cube](https://user-images.githubusercontent.com/25382402/33170007-fb84f426-d046-11e7-9c6c-d12aeaf1685d.jpg)

[2017-11-23 11:12] tamarawasser opened #443 "Panda while uploading File by using Dial"
HP Spectre
23.11.2017 / 12:11

Open CollaBoard by using Dial
Open Radial Menu by using Dial
Choose "Add Tile" by using Dial
Panda appears

![panda dial](https://user-images.githubusercontent.com/25382402/33170147-874ea1d2-d047-11e7-9a33-ccd94664c2dc.JPG)

[2017-11-23 11:24] tamarawasser commented on #442
Happen also on Marina's Surface Pro 3

[2017-11-23 11:28] tamarawasser commented on #443
Happen also when I try to open another functionality in the radial menu. Always the same panda

[2017-11-25 12:01] tamarawasser commented on #437
@corradocavalli @gsantopaolo
I uploaded a Word File in a CollaBoard Project. I'm in this project with my HP Spectre, with a SfBook and with the SfHub. When I open the Word on my Spectre, it has 5 pages. When I open it on the SfHub and the SfBook, it has 7 pages. Layout it not the same.
It's just a guess from my side, but if I would find out what kind of layout is set on the SfHub and the SfBook an

[2017-11-25 12:04] tamarawasser commented on #322
@teguria please can you test and if it's working close this issue. Thanks

[2017-11-25 12:21] #432 closed

[2017-11-25 15:40] tamarawasser opened #444 "Collaboration was not working"
Same project open (10986 / hq8ed) on two SfHubs and a SfBook
- one Hub is the customer / one Hub IBV and Michi's SfBook

User Icon from customer is not visible on SfHub from IBV and SfBook from Michi
Customer is working in the project on his SfHub. Michi is not able to see the changes on the SfBook and SfHub.
When Michi loads the project new, adjustments from the customer are not visible

We'll tr

[2017-11-27 12:28] tamarawasser commented on #440
another scenario with HP Spectre, SfBook and SfHub. all devices in the same project (11256 / fvpne)

Upload files on HP Spectre
Upload files on SfBook
Upload files on SfHub
all uploaded tiles are not in edit mode and all tiles are not locked.

Desktop timeout on the SfBook turn on. Turn off desktop timeout and login on the SfBook and CollaBoard project sync automatically. Then tiles are locked but

[2017-11-27 12:34] tamarawasser commented on #442
Also happened with Manuels ASUSTeK COMPUTER inc. UX390UAK
![screenshot bug](https://user-images.githubusercontent.com/25382402/33266900-a0d3a340-d377-11e7-936a-8c6cc3ae4cbf.png)

[2017-11-27 13:18] tamarawasser commented on #434
tried again with a SfHub, HP Spectre and SfBook. After moving the PDF File on the HP Spectre, the order of the Excelfiles on the SfHub and the SfBook is different than on the HP Spectre

[2017-11-27 13:24] tamarawasser commented on #320
@corradocavalli @teguria
tried on a SfHub with 11257. Works perfect when I say "eleventwohundredfiftyseven" but it's not working with project key. Doesn't recognize single letters

[2017-11-27 13:45] tamarawasser commented on #341
Tried it more than once on SfBook and SfHub and it works without any problems.
On HP Spectre:
Open Search and Search for CB Video
Move the video on the Canvas and play it
Open Camera and start recording Video
Video recording always stops before time for recording is over (around 1 second before) and then I can't do anything in CB. Like everything is blocked. The only possibility to close CB is to

[2017-11-27 13:51] tamarawasser commented on #340
Project information appear when I create a new project on HP Spectre, SfBook and SfHub.
@teguria did you maybe opened an existing project or did Michale joined one you created? Project information appear just, when you create a new project, not when you load an existing one.

[2017-11-27 13:51] #376 closed

[2017-11-27 14:22] tamarawasser opened #445 "Sync project generate panda on SfBook"
SfBook
27.11.2017 / 15:17
Project Code: 11267
Project Key: ivkv3

I'm in the same Project with SfHub, HP Spectre and SfBook
Sync the Project on Hub and HP Spectre. It works
Sync the Project on SfBook. Panda appears all the time when I do it.
"It seems that there is a problem. We will invest...."

[2017-11-27 15:00] tamarawasser commented on #444
Tried to reproduce
SfHub / SfBook / HP Spectre
27.11.2017 / 15:54
Project Code: 11267
Project Key: ivkv3

There are various tiles in the project. On all devices the same order and the same content.
Start record audio on HP Spectre
While audio is recording I started inking on Sticky Notes on SfBook - Ink is not visible on SfHub and HP Spectre
Moved Sticky Notes on SfBook - not visible on HP Spectre

[2017-11-27 16:59] gsantopaolo opened #446 "new start screen bug when demo"
got this bug
![image](https://user-images.githubusercontent.com/9937149/33278715-b5fdab60-d39c-11e7-8bc6-db23d9954b57.png)
when let collaboard on start screen for a period of time

[2017-11-28 07:49] corradocavalli commented on #446
@tamarawasser  @gsantopaolo should be fixed in v 2.0.8

[2017-11-28 13:16] #420 closed

[2017-11-28 13:38] #358 closed

[2017-11-28 13:41] #291 closed

[2017-11-28 13:42] tamarawasser commented on #357
#359

[2017-11-28 13:42] #357 closed

[2017-11-28 13:43] gsantopaolo commented on #446
@tamarawasser to test it licensing popup timer needs to be rised without error ask @corradocavalli  how much time to wait on start screen

[2017-11-28 13:52] corradocavalli commented on #359
@tamarawasser It should be fixed in v 2.0.9, not related to 84" you can test in on 55 or any other device.

[2017-11-28 13:54] #356 closed

[2017-11-28 14:05] #344 closed

[2017-11-28 14:51] #359 closed

[2017-11-28 15:09] corradocavalli commented on #430
@tamarawasser The text has been removed in newer versions, closing.

[2017-11-28 15:09] #430 closed

[2017-11-28 15:42] #446 closed

[2017-11-28 15:54] #334 closed

[2017-11-28 15:55] #321 closed

[2017-11-28 16:02] #340 closed

[2017-11-29 09:34] tamarawasser commented on #444
Other scenario with two SfPro, SfHub and HP Spectre
29.11.2017 / 10:25
Project Code: 11354
Project Key: 9txqu

Create new Project on SfHub
Join project with the other devices (HP Spectre and two Sf Pro)
Upload 5 Sticky Notes on the HP Spechtre
Upload 5 PDF on one SfPro
Upload 4 Excel-Files on SfHub - edit one excel file - save and close - connect Excel files
Upload 4 Word-Files on SfHub - edit one

[2017-11-29 09:35] tamarawasser commented on #445
#444

[2017-11-29 09:35] #445 closed

[2017-11-29 09:48] tamarawasser commented on #413
#434

[2017-11-29 09:48] #413 closed

[2017-11-29 09:49] tamarawasser commented on #407
#431

[2017-11-29 09:49] #407 closed

[2017-11-29 09:50] tamarawasser commented on #405
#442

[2017-11-29 09:50] #405 closed

[2017-11-29 10:32] corradocavalli commented on #440
@gsantopaolo @kasuken
I've investigated and looks like that when Syncronization is invoked, LoadProject returns a non empty Guid and so the tile appears locked. I've verified that UploadCompleted passes an empty Guid to indicate that tile is not locked, confirmed by the fact that tile appears unlocked initially.

[2017-11-29 11:26] tamarawasser commented on #444
@corradocavalli @gsantopaolo looks like this happen just when moving or working on stuff while project is sync. Did the follow:
HP Spectre, SfHub and SfBook
Project Code: 11362
Project Key: 1t93e
Open project on SfHub
Upload some tiles on each device - all tiles in same order on all devices
![001_before sync](https://user-images.githubusercontent.com/25382402/33372895-dbd5aab8-d4ff-11e7-9afc-08c68

[2017-11-29 13:15] #375 closed

[2017-11-29 14:08] tamarawasser commented on #441
@corradocavalli  This bug just happen in this project. I tried it several times with any other project and also with creating new projects. This message never appears.

[2017-11-29 15:12] #438 closed

[2017-11-29 15:24] #185 closed

[2017-11-29 15:26] #247 closed

[2017-11-29 15:53] #310 closed

[2017-11-29 17:59] corradocavalli commented on #440
@tamarawasser fixed in v 2.0.9

[2017-11-30 01:28] gsantopaolo commented on #422
@corradocavalli the point is why there is a blue border but not the request to drop?

[2017-11-30 01:31] #400 closed

[2017-11-30 01:35] gsantopaolo commented on #343
@tamarawasser can you please very and close or mark as bug?

[2017-11-30 01:43] #419 closed

[2017-11-30 01:47] gsantopaolo commented on #354
@tamarawasser can you please very and close if solved otherwise mark as bug and assign to dev

[2017-11-30 01:49] gsantopaolo commented on #385
@tamarawasser can you please verify?

[2017-11-30 01:56] gsantopaolo commented on #441
@corradocavalli can you please check that particular project?

[2017-11-30 01:57] gsantopaolo commented on #439
Yes, was thinking same

[2017-11-30 02:05] gsantopaolo commented on #444
@corradocavalli I think there is a way to fix that, ask me to talk to you about server asking a user participating project to send his tile order to others...

[2017-11-30 02:07] gsantopaolo commented on #437
@tamarawasser please describe it  on a document by detailing it, I'll forward to msft Corp, thanks

[2017-11-30 02:09] gsantopaolo commented on #418
@corradocavaiil it can be but why Clint is sending a message twice?

[2017-11-30 02:11] gsantopaolo commented on #417
@tamarawasser can you please verify and close or label as bug please?

[2017-11-30 02:14] gsantopaolo commented on #363
@tamarawasser can you please try to reproduce?

[2017-11-30 02:15] #362 closed

[2017-11-30 02:16] gsantopaolo commented on #370
Closin, too old

[2017-11-30 02:16] #370 closed

[2017-11-30 02:17] gsantopaolo commented on #345
Closing, too old

[2017-11-30 02:17] #345 closed

[2017-11-30 02:19] gsantopaolo commented on #341
@corradocavalli can you please look at this?

[2017-11-30 02:20] gsantopaolo commented on #323
@tamarawasser can you please verify and close or label as bug and adding to a dev? Thanks

[2017-11-30 02:22] gsantopaolo commented on #322
@teguria can you test it, @tamarawasser can you push @teguria to test please?

[2017-11-30 02:26] gsantopaolo commented on #320
@corradocavalli you need to look at the voice to text control, when the voice recognizer is setup as dictation, try other settings if you find one that fits single words then expose the property out of the control and set dictation s default

[2017-11-30 02:28] gsantopaolo commented on #316
Closing, too old. It has to be fixed in version 2.0+ at last cb should give a more descriptive error out, like ask certificate issue

[2017-11-30 02:28] #316 closed

[2017-11-30 02:29] gsantopaolo commented on #309
Too old, closing

[2017-11-30 02:29] #309 closed

[2017-11-30 02:32] gsantopaolo commented on #298
@tamarawasser can you please test and close or label as bug and adding to a dev? Thx

[2017-11-30 02:33] gsantopaolo commented on #289
@tamarawasser can you please investigate?

[2017-11-30 02:35] gsantopaolo commented on #232
Closing, too old

[2017-11-30 02:35] #232 closed

[2017-11-30 02:35] gsantopaolo commented on #191
Closin,

[2017-11-30 02:35] #191 closed